
<div id="modamUser" class="modal fade" role="dialog" onscroll="scroll" data-backdrop="static" style="background-color: rgba(0,0,0,0.3)">
    <div class="modal-dialog w700">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color: #5db2ff; color: white">
                <button type="button" id="close_producet" class="close" data-dismiss="modal">&times;</button>
                <h4 class="titleUser"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <span class="input-icon icon-right">
                                <label>Mật khẩu cũ</label><span class="text-red">(*)</span>
                                <input type="hidden" value="" id="id" />
                                <input type="text" class="form-control" name="name" id="pass1" placeholder="Mật khẩu cũ.." required>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <span class="input-icon icon-right">
                                <label>Mật khẩu mới</label><span class="text-red">(*)</span>
                                <input type="hidden" value="" id="id" />
                                <input type="text" class="form-control" name="name" id="pass2" placeholder="Mật khẩu mới.." required>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <span class="input-icon icon-right">
                                <label>Nhập lại mật khẩu</label><span class="text-red">(*)</span>
                                <input type="hidden" value="" id="id" />
                                <input type="text" class="form-control" name="name" id="pass3" placeholder="Nhập lại mật khẩu.." required>
                            </span>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="modal-footer" style="margin-top: -20px;">
                    <button type="submit" class="btn btn-primary" onclick="UpdatePass()"><i class="glyphicon glyphicon-floppy-save"></i> Cập nhật</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-minus-sign"></i> Thoát</button>
                </div>
            </div>
        </div>
    </div>
</div>

