/*** ESSENTIAL STYLES ***/
.menu_s, .menu_s * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu_s li {
	position: relative;
}
.menu_s ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
	text-align:left!important
}
.menu_s > li {
	flo1at: left;
	color:white;
	font-size:10px;
	font-weight:bold;
	padding:0px 1px;
	display:inline-block;
}
.menu_s li:hover > ul,
.menu_s li.sfHover > ul {
	display: block;
}

.menu_s a {
	display: block;
	position: relative;
}
.menu_s ul ul {
	top: 0;
	left: 100%;
}


/*** DEMO SKIN ***/
.menu_s {
}
.menu_s ul {
	box-shadow: 2px 2px 6px rgba(0,0,0,.2);
	min-width: 12em; /* allow long menu items to determine submenu width */
	*width: 12em; /* no auto sub width for IE7, see white-space comment below */
}
.menu_s a {
	font-weight:bold;
	text-decoration: none;
	font-size:10px;
	text-transform:uppercase;
	zoom: 1; /* IE7 */
}
.menu_s a {
	color:white;
}
.menu_s li {
	backgro1und: #BDD2FF;
	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	-webkit-transition: background .2s;
	transition: background .2s;
}
.menu_s ul li {
	background: #AABDE6;
}
.menu_s ul ul li {
	background: #9AAEDB;
}
.menu_s li:hover >a
{
	color:#f58634
}
.menu_s li:hover,
.menu_s li.sfHover {
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
	padding-right: 2.5em;
	*padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border: 5px solid transparent;
	border-top-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-top-color: rgba(255,255,255,.5);
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: white; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(255,255,255,.5);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: white;
}
