@model IList<Productgold.Models.Adv>        
          <div class="row">
              @for (int i = 0; i < Model.Count; i++)
              {
                  <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="promo-box"><a href="@Model[i].link" title="@Model[i].link"><img src="@Model[i].images" alt="Anh quang cao"></a></div>
                     </div>
              }
                  </div>
