
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="../../Content/img/avatar.png" class="img-circle" alt="User Image" />
                    </div>
                    <div class="pull-left info">
                        <p>Adminstrator</p>

                        <a href="#"><i class="fa fa-circle text-success"></i>Online</a>
                    </div>
                </div>

                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    @if (Session["subadmins"] != null)
                    {
                        <li>
                            <a href="/mngadmin/indexs">
                                <i class="fa fa-th"></i><span>Quản trị user</span>
                            </a>
                        </li>
                    }
                    <li>
                        <a href="/Config">
                            <i class="fa fa-dashboard"></i><span>Cấu hình</span>
                        </a>
                    </li>
                  
                     
                    <li style="display:none" >
                        <a href="/Brands">
                            <i class="fa fa-th"></i><span>Thương hiệu</span> @*<small class="badge pull-right bg-green">new</small>*@
                        </a>
                    </li>
                   
                    <li class="treeview" style="display:none">
                        <a href="#">
                            <i class="fa fa-bar-chart-o"></i>
                            <span>Sản phẩm</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/Categorys/Catepro"><i class="fa fa-angle-double-right"></i>Nhóm sản phẩm</a></li>
                            <li><a href="/Prodcuts"><i class="fa fa-angle-double-right"></i>Sản phẩm</a></li>
                            <li  style="display:none"><a href="/Tagpro"><i class="fa fa-angle-double-right"></i>Tag sản phẩm</a></li>
                            
                        </ul>
                    </li>
                  
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-laptop"></i>
                            <span>Tin tức</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/Categorys/Catenew"><i class="fa fa-angle-double-right"></i>Nhóm tin</a></li>
                            <li><a href="/News"><i class="fa fa-angle-double-right"></i>Tin tức</a></li>
                        </ul>
                    </li>
                    <li class="treeview" style="display:none">
                        <a href="#">
                            <i class="fa fa-laptop"></i>
                            <span>Thư viện</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                           @* <li><a href="/Categorys/Catevideo"><i class="fa fa-angle-double-right"></i>Nhóm thư viện</a></li>*@
                            <li><a href="/Video"><i class="fa fa-angle-double-right"></i>Thư viện</a></li>
                        </ul>
                    </li>
                    @*<li>
                        <a href="/Customers">
                            <i class="fa fa-th"></i><span>Khách hàng</span>
                        </a>
                        </li>*@
                      @*<li>
                        <a href="/Oders" >
                            <i class="fa fa-th"></i><span>Hóa đơn</span> 
                        </a>
                          </li>*@
                      <li>
                        <a href="/Adv">
                            <i class="fa fa-th"></i><span>Quảng cáo</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Adv/Index2">
                            <i class="fa fa-th"></i><span> Hình ảnh giữa trang</span>
                        </a>
                    </li>
                      <li>
                        <a href="/Menus">
                            <i class="fa fa-th"></i><span>Menu</span>
                        </a>
                    </li>
                   
                     <li>
                        <a href="/Contacts">
                            <i class="fa fa-th"></i><span>Liên hệ</span> 
                        </a>
                    </li>
                    <li  style="display:none">
                        <a href="/Support">
                            <i class="fa fa-th"></i><span>Hỗ trợ</span> 
                        </a>
                    </li>
                    <li  style="display:none">
                        <a href="/Email">
                            <i class="fa fa-th"></i><span>Email đăng kí</span> 
                        </a>
                    </li>
                    <li  >
                        <a href="/YKien">
                            <i class="fa fa-th"></i><span>Hỏi đáp</span>
                        </a>
                    </li>
                   @* <li>
        <a href="/Video">
            <i class="fa fa-th"></i><span>Videos</span>
        </a>
    </li>*@
              
                </ul>
            </section>
