@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=vietnamese";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p .cart_icon {
  margin: 0px 0px 10px 10px;
}
.box-title {
  color: #ff5b02;
  font-size: 20px;
  text-transform: uppercase;
}
.box-title hr {
  margin-bottom: 10px;
  margin-top: 2px;
}
.cart_main .icon_badge {
  position: absolute;
  background: #e80303;
  border-radius: 5px;
  z-index: 999;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  right: -6px;
  top: -2px;
  width: 25px;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  text-align: center;
}
.cart_main {
  position: relative;
  float: right;
}
#clockdiv {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div {
  padding: 0;
  border-radius: 3px;
  float: left;
  margin: 0 5px;
}
.time-x {
  margin: 32px 0 0 0;
}
#clockdiv div > span {
  padding: 5px;
  border-radius: 3px;
  background: #00816a;
  display: inline-block;
  font-size: 20px;
}

.smalltext {
  padding-top: 1px;
  font-size: 14px;
  color: #000;
}
.items-product img {
  width: 185px;
  height: 94px;
  object-fit: contain;
  border: 1px solid #e0e0e0;
  padding: 10px;
}
.items-product {
  text-align: center;
  font-size: 15px;
  margin: 0 0 30px 0;
}
.items-product p a {
  color: #000;
}
.tab-content-maps {
  display: none;
}
.tab-content-maps.current {
  display: inherit;
}
.wrapper .tabs-maps li {
  list-style: none;
  float: left;
  width: auto;
}

ul.tabs-maps li {
  background: none;
  display: inline-block;
  cursor: pointer;
}
.wrapper .tabs-maps li.current span {
  background: linear-gradient(169deg, transparent 29%, #ff5b02 30%);
  color: #ffffff;
}
.wrapper .tabs-maps li.current span:before {
  content: "";
  position: absolute;
  z-index: 11;
  left: 100%;
  top: 0%;
  height: 70px;
  line-height: 90px;
  width: 0;
  border-bottom: 65px solid rgba(0, 0, 0, 0.2);
  border-right: 20px solid transparent;
}
.wrapper .tabs-maps li span {
  display: block;
  text-align: center;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  color: #fff;
  height: 70px;
  line-height: 85px;
  background: linear-gradient(169deg, transparent 29%, #f27725 30%);
  padding: 0 30px;
}
iframe,
table {
  max-width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #333;
  overflow-x: hidden;
}

.font-taviraj {
  font-family: "Taviraj", serif;
}

ul,
ol {
  margin-bottom: 0 !important;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}
.header_top {
  background: #efefef;
  position: relative;
}
.header_top_text_left {
  float: left;
  height: 35px;
  line-height: 35px;
}

.header_top_text_left p {
  margin-bottom: 0;
}
.text_left_inner {
  float: left;
}
.text_left_inner {
  float: left;
}
.text_style {
  color: #ff0000;
  font-size: 14px;
  font-weight: bold;
}
.text_left_inner p {
  font-size: 13px;
  color: #333333;
  padding: 0 10px 0 0;
  float: right;
}
.top-header {
  width: 100%;
  min-height: 90px;
  padding: 5px 0;
  z-index: 2;
}
.top-header .slogan p {
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  margin-top: 5px;
}
.top-header .logo .logo-wrapper {
  position: absolute;
  top: 15px;
  left: 0;
}
.top-header .logo .logo-wrapper img {
  max-height: 60px;
}
.top-header .hotline .evo-hotline {
  transform: skew(-27deg);
  background: #ff5b02;
  border-radius: 4px;
  font-size: 14px;
  padding: 5px 10px;
  max-width: 150px;
  display: inline-block;
  float: left;
  margin-top: 6px;
  margin-left: 7px;
}
.top-header .hotline .evo-hotline i {
  color: white;
  transform: skew(27deg);
  display: inline-block;
}
.top-header .hotline .evo-hotline a {
  color: white;
  transform: skew(27deg);
  display: inline-block;
  font-weight: 600;
}

.section_gioi_thieu {
  margin: 40px 0;
}
.container-full {
  margin: 0px 15px;
}
.section_dich_vu-full .evo-box-dich-vu-image {
  height: 520px !important;
}
.section_dich_vu-full .evo-box-dich-vu-image img {
  height: auto !important;
}
@media (min-width: 1025px) {
  .section_gioi_thieu .row-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media (min-width: 1025px) {
  .section_gioi_thieu .row-flex.align-items-lg-center {
    -ms-flex-align: center;
    align-items: center;
  }

  .section_gioi_thieu .row-flex.align-items-lg-center .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.section_gioi_thieu .row-flex .block-header p {
  position: relative;
  padding-left: 60px;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  color: #3b4757;
}
@media (max-width: 480px) {
  .text_left_inner p a,
  .text_left_inner p span {
    font-size: 10px !important;
  }
}
@media (max-width: 480px) {
  .section_gioi_thieu .row-flex .block-header p {
    font-size: 14px;
  }
}

.section_gioi_thieu .row-flex .block-header p::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  margin-top: -2px;
  width: 40px;
  height: 3px;
  background: #18a096;
}

.section_gioi_thieu .row-flex .block-header h2 {
  font-style: normal;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 25px;
}

@media (max-width: 480px) {
  .section_gioi_thieu .row-flex .block-header h2 {
    font-size: 22px;
  }
}

.section_gioi_thieu .row-flex .read-more {
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #18a096;
}

.section_gioi_thieu .row-flex .read-more svg {
  margin-left: 10px;
}

.section_gioi_thieu .row-flex .read-more svg path {
  fill: #18a096;
}

.section_gioi_thieu .row-flex .read-more:hover,
.section_gioi_thieu .row-flex .read-more:focus {
  color: #dcb048;
}

.section_gioi_thieu .row-flex .read-more:hover svg path,
.section_gioi_thieu .row-flex .read-more:focus svg path {
  fill: #dcb048;
}

.section_gioi_thieu .row-flex .el-wr {
  padding: 20px 25px 0;
}

@media (max-width: 991px) {
  .section_gioi_thieu .row-flex .el-wr {
    margin-top: 60px;
  }
}

@media (max-width: 480px) {
  .section_gioi_thieu .row-flex .el-wr {
    margin-top: 25px;
    padding: 20px 10px 0;
  }
}

.section_gioi_thieu .row-flex .el-wr .learning-elements-wrap {
  position: relative;
  width: 100%;
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 991px) {
  .section_gioi_thieu .row-flex .el-wr .learning-elements-wrap {
    max-width: 450px;
  }
}

.section_gioi_thieu .row-flex .el-wr .learning-elements-wrap .circle-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  z-index: 5;
}

.section_gioi_thieu
  .row-flex
  .el-wr
  .learning-elements-wrap
  .circle-container
  .learning-item {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  margin-left: -62px;
  margin-top: -62px;
  width: 124px;
  height: 124px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #eaf5f7;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .section_gioi_thieu
    .row-flex
    .el-wr
    .learning-elements-wrap
    .circle-container
    .learning-item {
    height: 100px;
    width: 100px;
  }
}

@media (max-width: 991px) {
  .section_gioi_thieu
    .row-flex
    .el-wr
    .learning-elements-wrap
    .circle-container
    .learning-item {
    margin-left: -50px;
    margin-top: -50px;
  }
}

@media (max-width: 376px) {
  .section_gioi_thieu
    .row-flex
    .el-wr
    .learning-elements-wrap
    .circle-container
    .learning-item {
    margin-left: -45px;
    margin-top: -45px;
    width: 90px;
    height: 90px;
  }
}

@media (max-width: 321px) {
  .section_gioi_thieu
    .row-flex
    .el-wr
    .learning-elements-wrap
    .circle-container
    .learning-item {
    margin-left: -40px;
    margin-top: -40px;
    width: 80px;
    height: 80px;
  }
}

.section_gioi_thieu
  .row-flex
  .el-wr
  .learning-elements-wrap
  .circle-container
  .learning-item
  img {
  margin-bottom: 5px;
  max-width: 48px;
}

@media (max-width: 376px) {
  .section_gioi_thieu
    .row-flex
    .el-wr
    .learning-elements-wrap
    .circle-container
    .learning-item
    img {
    height: 40px;
    margin-bottom: 0;
  }
}

@media (max-width: 321px) {
  .section_gioi_thieu
    .row-flex
    .el-wr
    .learning-elements-wrap
    .circle-container
    .learning-item
    img {
    height: 30px;
    margin-bottom: 0;
  }
}

.section_gioi_thieu
  .row-flex
  .el-wr
  .learning-elements-wrap
  .circle-container
  .learning-item
  p {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 12px;
  color: #3b4757;
}

@media (max-width: 480px) {
  .section_gioi_thieu
    .row-flex
    .el-wr
    .learning-elements-wrap
    .circle-container
    .learning-item
    p {
    display: none;
  }
}

.section_gioi_thieu
  .row-flex
  .el-wr
  .learning-elements-wrap
  .circle-container
  .learning-item::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  z-index: -2;
  width: -webkit-calc(100% + 8px);
  width: calc(100% + 8px);
  height: -webkit-calc(100% + 8px);
  height: calc(100% + 8px);
  background: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.section_gioi_thieu
  .row-flex
  .el-wr
  .learning-elements-wrap
  .circle-container
  .learning-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #eaf5f7;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.section_gioi_thieu
  .row-flex
  .el-wr
  .learning-elements-wrap
  .circle-container
  .learning-item:hover {
  background: #fff;
}

.section_gioi_thieu
  .row-flex
  .el-wr
  .learning-elements-wrap
  .circle-container
  .learning-item:hover::before {
  background: #18a096;
}

.section_gioi_thieu
  .row-flex
  .el-wr
  .learning-elements-wrap
  .circle-container
  .learning-item:hover::after {
  background: #fff;
}

.section_gioi_thieu
  .row-flex
  .el-wr
  .learning-elements-wrap
  .tab-element-content {
  position: absolute;
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  width: 55%;
  height: 60%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.section_gioi_thieu
  .row-flex
  .el-wr
  .learning-elements-wrap
  .tab-element-content
  .for-tab {
  display: none;
}
.section_gioi_thieu
  .row-flex
  .el-wr
  .learning-elements-wrap
  .tab-element-content
  .for-tab.current {
  display: block;
}
.section_gioi_thieu
  .row-flex
  .el-wr
  .learning-elements-wrap
  .circle-container
  .learning-item.current::before {
  background: #18a096;
}
.section_gioi_thieu
  .row-flex
  .el-wr
  .learning-elements-wrap
  .tab-element-content
  .for-tab
  h3 {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 500;
  font-size: 25px;
  color: #333;
}
.section_gioi_thieu
  .row-flex
  .el-wr
  .learning-elements-wrap
  .tab-element-content
  .for-tab
  h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 41px;
  height: 3px;
  background: #18a096;
}
.section_gioi_thieu
  .row-flex
  .el-wr
  .learning-elements-wrap
  .tab-element-content
  .for-tab
  h3 {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 500;
  font-size: 25px;
  color: #333;
}

.section_gioi_thieu
  .row-flex
  .el-wr
  .learning-elements-wrap
  .tab-element-content
  .for-tab
  h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 41px;
  height: 3px;
  background: #18a096;
}

@media (max-width: 480px) {
  .section_gioi_thieu
    .row-flex
    .el-wr
    .learning-elements-wrap
    .tab-element-content
    .for-tab
    h3 {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .section_gioi_thieu
    .row-flex
    .el-wr
    .learning-elements-wrap
    .tab-element-content
    .for-tab
    p {
    font-size: 11px;
  }
}

.section_gioi_thieu .row-flex .el-wr .learning-elements-wrap::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  border: 5px solid #f0f8fa;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.section_dich_vu .evo-box-dich-vu {
  display: block;
  margin: 10px 0;
  -webkit-box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.section_dich_vu .evo-box-dich-vu .evo-box-dich-vu-group {
  position: relative;
  overflow: hidden;
}
.section_dich_vu
  .evo-box-dich-vu
  .evo-box-dich-vu-group
  .evo-box-dich-vu-image {
  position: relative;
  height: 360px;
  overflow: hidden;
}
.section_dich_vu
  .evo-box-dich-vu
  .evo-box-dich-vu-group
  .evo-box-dich-vu-image
  img {
  width: 100% !important;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 360px;
  object-fit: cover;
}
.section_dich_vu .evo-box-dich-vu .evo-box-dich-vu-group .content-box-dich-vu {
  position: absolute;
  bottom: 0;
  background: rgba(4, 4, 4, 0.7);
  width: 100%;
  left: 0;
  color: #fff;
  opacity: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -o-transform: translateY(100%);
  padding: 10px;
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.evo-box-dich-vu h3 {
  margin: 0;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  background: #ff5b02;
  font-size: 15px;
  padding: 10px 15px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.evo-box-dich-vu:hover h3 {
  background: #b59705;
}
.section_dich_vu .evo-box-dich-vu h3 a {
  color: #fff;
}
.section_dich_vu
  .evo-box-dich-vu:hover
  .evo-box-dich-vu-group
  .content-box-dich-vu {
  opacity: 1;
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -o-transform: translateY(0%);
}
.awe-section-5 {
  margin-bottom: 0px;
}

.section_topsale_month {
  padding: 0px 0 20px;
}
.title_module {
  margin-bottom: 2rem;
  margin-top: 0rem;
  position: relative;
  text-align: left;
}
.section_topsale_month .wrap_item_large {
  width: 100%;
  float: left;
  background: #fff;
}
.section_topsale_month .wrap_item_large .itemproduct_sale:nth-child(2n + 1) {
  clear: left;
}

.section_topsale_month .wrap_item_large .itemproduct_sale {
  width: 50%;
  float: left;
  display: block;
  padding: 30px;
  border-right: solid 1px #f5f5f5;
  border-bottom: solid 1px #f5f5f5;
  position: relative;
}
.section_topsale_month .wrap_item_large .itemproduct_sale:before {
  content: "";
  opacity: 0;
  pointer-events: none;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background: transparent;
  position: absolute;
  z-index: 1;
  border: 2px solid #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.section_topsale_month .wrap_item_large .product-thumbnail {
  width: 250px;
  display: block;
  float: left;
  position: relative;
}
.item_product_main .product-thumbnail:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0;
}
.section_topsale_month .wrap_item_large .product-thumbnail .saleright {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #e62901;
  text-align: center;
  font-size: 12px;
  line-height: 40px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}
.item_product_main .product-thumbnail .image_thumb {
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 250px;
}
.item_product_main .product-thumbnail .image_thumb img {
  max-width: 100%;
  max-height: 100%;
}
.item_product_main .product-thumbnail .product-action {
  position: absolute;
  text-align: center;
  z-index: 3;
  right: 0;
  left: 0;
  padding: 1.4rem 0;
  bottom: -1rem;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  opacity: 0;
}
.item_product_main .product-thumbnail .product-action .group_action {
  text-align: center;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -os-justify-content: center;
  align-items: center;
}
.item_product_main .product-thumbnail .product-action .btn.btn-cart,
.item_product_main .product-thumbnail .product-action .btn_view {
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #ff5b02;
  background: #fff;
  margin-bottom: 0px;
  border-radius: 5px;
  position: relative;
  font-size: 18px;
  margin: 0 3px;
  padding: 0;
  border: none;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
  -os-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
}
.item_product_main .product-thumbnail .product-action .fa {
  font-size: 15px;
}
.item_product_main .product-thumbnail .product-action .btn-circle {
  margin: 0 3px;
}
.item_product_main .product-thumbnail .product-action .xem_nhanh {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #fff;
  display: inline-block;
  margin-left: 0px;
  font-size: 15px;
  border-radius: 5px;
}
.item_product_main .product-thumbnail .product-action .xem_nhanh .fa {
  color: #ff5b02;
}
.section_topsale_month .wrap_item_large .product-info {
  display: block;
  float: left;
  padding: 0;
  width: calc(100% - 250px);
  -webkit-width: calc(100% - 250px);
  -moz-width: calc(100% - 250px);
  -o-width: calc(100% - 250px);
  -os-width: calc(100% - 250px);
  padding-left: 30px;
  text-align: left;
}
.section_topsale_month .wrap_item_large .product-info h3 {
  padding: 0;
  margin: 0 0 15px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.8rem;
  font-size: 1.4rem;
  color: #292929;
  width: 100%;
  float: left;
  font-family: "Roboto", sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.section_topsale_month .wrap_item_large .product-info h3 a {
  color: #292929;
}
.item_product_main .product-info .price-box {
  width: 100%;
  float: left;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
}
.section_topsale_month
  .wrap_item_large
  .product-info
  .price-box
  .product-price {
  color: #ff5b02;
  font-weight: 700;
  margin: 0;
  font-size: 1.6rem;
  margin-right: 10px;
}
.item_product_main .product-info .price-box .compare-price {
  color: #8d90a6;
  text-decoration: line-through;
  font-size: 12px;
}
.section_topsale_month .wrap_item_large .product-info .rtes {
  margin-bottom: 10px;
  line-height: 2rem;
  color: #8d90a6;
  font-size: 13px;
}
.item_product_main:hover .product-action {
  opacity: 1;
  bottom: 0;
}
.col-item {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  position: relative;
  overflow: hidden;
}
.col-item .sale-label {
  z-index: 5;
  right: 10px;
  left: auto;
  background: url(../images/icon-new.png) center no-repeat;
  position: absolute;
  display: block;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  top: 15px !important;
}
.col-item .sale-label span {
  font-size: 11px;
}
.col-item .item-inner {
  position: relative;
  max-height: 250px;
  overflow: hidden;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #ebebeb;
  transition: all 0.5s ease;
  cursor: pointer;
}
.col-item .item-inner:hover {
  border: 1px solid #ff5b02;
}
.col-item .item-inner .product-wrapper {
  position: relative;
  /*    border: 1px solid #e6e6e6;*/
}
.sale-label {
  display: none !important;
}

.col-item .item-inner .product-wrapper .thumb-wrapper img {
  display: block;
  margin: auto;
}
.col-item .item-inner .actions {
  position: absolute;
  left: 8px;
  transition: 0.3s ease;
  transform: scale(0);
  bottom: 5%;
}
.col-item .item-inner .item-info .item-title h3 {
  margin: 12px 3px 5px 3px;
  font-size: 14px;
  text-align: center;
  padding: 0 8px;
  min-height: 40px;
  word-break: break-all;
}
.col-item .item-inner .item-info .item-title h3 a {
  font-size: 14px;
  color: #000;
}
.col-item .item-inner .item-info .item-content .price-box {
  text-align: center;
  padding-bottom: 15px;
  padding-top: 10px;
}
.price-box .special-price {
  color: #ff3c20;
  font-weight: bold;
}
.price-box .old-price {
  color: #999 !important;
  font-weight: normal;
  text-decoration: line-through;
}
.section-category {
  background: url(../images/visual_img01.jpg) 0 82% no-repeat;
}
.section-category .container .category-content .section-category-frame {
  padding: 0;
}
.section-category
  .container
  .category-content
  .section-category-frame
  .section-category-img {
  width: 20%;
  overflow: hidden;
  float: left;
  border-radius: 50px;
}
.section-category
  .container
  .category-content
  .section-category-frame
  .section-category-img
  img {
  overflow: hidden;
  transform: scale(1) rotate(0);
  -webkit-transform: scale(1) rotate(0);
  transition: 0.8s;
}
.section-category .container {
  width: 1349px;
  overflow: hidden;
  padding: 30px 15px;
  max-width: 1349px;
  background: #00000059;
}
.section-category
  .container
  .category-content
  .section-category-frame
  .section-category-info {
  width: 80%;
  padding: 0 15px;
  display: inline-block;
}
.section-category
  .container
  .category-content
  .section-category-frame
  .section-category-info
  h3 {
  font-family: "Pattaya", sans-serif;
  font-size: 35px;
}
.section-category
  .container
  .category-content
  .section-category-frame
  .section-category-info
  h3
  a {
  color: #fff;
  text-decoration: none;
}
.section-category
  .container
  .category-content
  .section-category-frame
  .section-category-info
  .category-content {
  color: #fff;
  font-size: 16px;
  clear: both;
}
.section-category
  .container
  .category-content
  .section-category-frame
  .sec-cate-a {
  position: relative;
  width: 30%;
  margin-top: 22px;
  display: inline-block;
  float: left;
}
.section-category
  .container
  .category-content
  .section-category-frame
  .sec-cate-a
  a {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  padding: 0px 15px 0px;
  border-radius: 45px;
  border: 2px solid #f4ba42;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  line-height: 50px;
  text-transform: capitalize;
  font-family: "Pattaya", sans-serif;
  font-weight: normal;
}
.section-category
  .container
  .category-content
  .section-category-frame
  #owl-partner-home {
  width: 70%;
  display: inline-block;
  float: left;
}
#owl-partner-home .item .product-box-cate:hover {
  border: 2px solid #f4ba42;
}
#owl-partner-home .item .product-box-cate {
  background: #fff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: auto;
  border: 2px solid #fff;
}
#owl-partner-home .item .product-box-cate .product-thumbnail-cate {
  position: relative;
  height: 100px;
}
#owl-partner-home .item .product-box-cate .product-thumbnail-cate img {
  width: auto !important;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100px;
}
.title-text {
  position: relative;
}

.title-text-link {
  margin-bottom: 20px;
}

.title-text:before {
  content: "";
  width: 80px;
  height: 3px;
  background: #ff5b02;
  position: absolute;
  bottom: -1px;
}
.title-text h2 {
  color: #363636;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
}
.title-text a.read-more {
  display: inline-block;
  position: absolute;
  right: 0px;
  bottom: 2px;
  color: #ff5b02;
}
.home-blog .item {
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px dashed #ccc;
}
.home-blog .item .thumb {
  display: inline-block;
  width: calc(30% - 15px);
  float: left;
  margin-right: 15px;
}
.img-shine:before {
  position: absolute;
  content: "";
  top: 0;
  left: -75%;
  z-index: 100;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  transform: skewX(-25deg);
}
.img-shine:hover:before {
  animation: imgShine 0.75s ease-in-out;
}
.home-blog .item .text {
  width: 66%;
  float: left;
}
.home-blog .item .text h3 {
  font: 700 16px/20px "Roboto";
  margin-top: -4px;
}
.home-blog .item .text h3 a {
  color: #222;
  word-break: break-word;
}

.home-blog .item .text h3 a:hover {
  color: #ff5b02;
}

.home-blog .item .text .date {
  display: inline-block;
  width: 50px;
  height: 60px;
  background: #eaeaea;
  color: #f35925;
  margin-right: 10px;
  float: left;
  text-align: center;
  font-size: 24px;
  padding-top: 3px;
  position: relative;
}
.home-blog .item .text .date span {
  background: #999;
  color: #fff;
  font-size: 10px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  display: inline-block;
}
.home-blog .item .text .date + p {
  width: calc(100% - 60px);
  float: left;
  font-size: 14px;
  line-height: 20px;
  margin-top: -4px;
  margin-bottom: 6px;
  word-break: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.home-box-lightbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.home-box-lightbox a {
  display: inline-block;
  width: calc(50% - 10px);
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
}
.home-box-lightbox a:after {
  left: initial !important;
  right: -1px;
  top: initial !important;
  bottom: -1px;
  clip-path: polygon(100% 0, 0 100%, 100% 100%) !important;
}
.home-box-lightbox a:after,
.home-box-lightbox a:before {
  content: "";
  display: inline-block;
  background: #efefef;
  width: 40px;
  height: 40px;
  clip-path: polygon(100% 0, 0 0, 0 100%);
  position: absolute;
  left: -1px;
  top: -1px;
  z-index: 9;
}
.home-box-lightbox a img,
.home-blog a img {
  transition: all 0.3s ease 0s;
}
.home-box-lightbox a:hover img,
.home-blog a:hover img {
  transform: scale(1.1);
}
.img-shine {
  overflow: hidden;
  position: relative;
}
.section_dich_vu .evo_dich_vu_title h4 {
  color: #18a096;
  margin: 0 0 20px 0;
  font-size: 27px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}
.tab-contents {
  display: none;
}
.tab-contents.current {
  display: inherit;
}
.maps-home iframe {
  width: 100% !important;
  height: 450px !important;
}
.wrapper {
  margin: 20px auto;
  width: 100%;
  font-family: sans-serif;
  color: #98927c;
  font-size: 14px;
  line-height: 24px;
  overflow: hidden;
}
.wrapper .tabs li {
  list-style: none;
  float: left;
  width: auto;
}

ul.tabs li {
  background: none;
  display: inline-block;
  cursor: pointer;
}
.wrapper .tabs li.current span {
  background: linear-gradient(169deg, transparent 29%, #ff5b02 30%);
  color: #ffffff;
}
.wrapper .tabs li.current span:before {
  content: "";
  position: absolute;
  z-index: 11;
  left: 100%;
  top: 0%;
  height: 70px;
  line-height: 90px;
  width: 0;
  border-bottom: 65px solid rgba(0, 0, 0, 0.2);
  border-right: 20px solid transparent;
}
.wrapper .tabs li span {
  display: block;
  text-align: center;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  color: #fff;
  height: 70px;
  line-height: 85px;
  background: linear-gradient(169deg, transparent 29%, #f27725 30%);
  padding: 0 30px;
}
.tab-content {
  width: 100%;
  float: left;
  border: 10px solid #ff5b02;
}
.section_index_brand {
  background: #f7faff;
  padding: 40px 0 70px 0;
}
.section_index_brand .section-head h2 {
  position: relative;
  color: #ff5b02;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 8px;
  margin-top: 0;
}
.section_index_brand .section-head p {
  position: relative;
  color: #555555;
  font-size: 18px;
  line-height: 1.6em;
  font-weight: 500;
  margin-top: 0px;
}
.section_index_brand .brand-image {
  display: block;
  margin: 20px 0;
  position: relative;
  height: 40px;
}
.section_index_brand .brand-image img {
  width: auto !important;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.heading_spbc {
  display: block;
  text-align: center;
  position: relative;
  padding: 0 0px 30px 0;
}
.heading_spbc:before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  line-height: 36px;
  left: 0px;
  background: #ebebeb;
  top: 28%;
}
.heading_spbc h2 {
  margin: 0px;
  font-size: 25px;
  line-height: 36px;
  color: #363636;
  font-weight: 600;
  padding: 0px 30px;
  background-color: #fff;
  display: inline-block;
  z-index: 9;
  position: relative;
}
.heading_spbc h2:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 10px;
  background: #ebebeb;
  left: 0;
  bottom: 10px;
}
.heading_spbc h2 a {
  text-transform: none;
}
.heading_spbc h2 a:hover {
  color: inherit;
}
.heading_spbc h2:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 10px;
  background: #ebebeb;
  right: 0;
  bottom: 10px;
}
.heading_spbc:after {
  content: " ";
  width: 100%;
  height: 1px;
  position: absolute;
  line-height: 36px;
  right: 0px;
  background: #ebebeb;
  top: 34%;
}
.home-blog img {
  width: 150px;
  height: 98px;
  object-fit: cover;
}
.home-box-lightbox img {
  width: 262px;
  height: 190px;
  object-fit: cover;
}
section.product-home,
.awe-section-2,
.awe-section-3,
.awe-section-4,
.awe-section-5,
.awe-section-1 {
  margin: 50px 0;
}
.view-detail {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.51);
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}
.col-item.col-item-grid:hover .view-detail {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.view-detail .info {
  min-height: 80px;
}
.view-detail .info .title {
  margin-bottom: 15px;
}
.view-detail .info .title a:hover {
  color: #ffffff;
}
.view-detail .view-more {
  background: #ff5b02;
  color: #fff;
  padding: 7px 12px;
  border-radius: 4px;
}
.owl-pro-home button.owl-prev span,
.owl-pro-home button.owl-next span,
#owl-partner-home button.owl-prev span,
#owl-partner-home button.owl-next span {
  font-size: 42px;
}
#owl-partner-home button.owl-prev span,
#owl-partner-home button.owl-next span {
  font-size: 42px;
  background: #1c011f;
  border: 2px solid #f4ba42;
  color: #fff;
  border-radius: 10px;
  font-family: initial;
  padding: 0 6px 6px 6px;
  margin: 0;
}
.owl-pro-home button.owl-prev {
  position: absolute;
  left: 0;
  top: 24%;
}
.owl-pro-home button.owl-next {
  position: absolute;
  right: 0;
  top: 24%;
}
#owl-partner-home button.owl-next {
  position: absolute;
  right: 0;
  top: 10%;
  padding: 0;
  font-family: sans-serif;
}
#owl-partner-home button.owl-prev {
  position: absolute;
  left: 0;
  top: 10%;
  padding: 0;
  font-family: sans-serif;
}
.owl-pro-home button.owl-prev:hover,
.owl-pro-home button.owl-next:hover,
#owl-partner-home button.owl-prev:hover,
#owl-partner-home button.owl-next:hover {
  background: none !important;
  color: #000 !important;
}
.owl-pro-home button.owl-prev,
.owl-pro-home button.owl-next,
#owl-partner-home button.owl-next,
#owl-partner-home button.owl-prev {
  display: none !important;
}
.owl-pro-home:hover button.owl-prev,
.owl-pro-home:hover button.owl-next,
#owl-partner-home:hover button.owl-next,
#owl-partner-home:hover button.owl-prev {
  display: block !important;
}
button.btn.btn-default {
  position: absolute;
  right: -18px;
  top: 0;
  border: 1px solid #18a096;
  background: #699dc3;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #fff;
}
.slogan .input-group {
  text-align: center;
  width: 300px;
  margin: 0 auto;
}
.search-header .input-group-append {
  position: absolute;
  top: 37px;
  right: 15px;
}
.search-header.desktop {
  margin-top: 37px;
}
#btnHomeSearch1 {
  background: #ff5b02;
}
input.search-auto.form-control {
  border-radius: 20px;
  width: 280px;
  /*  background: #699DC3;
    color: #fff !important;*/
  border: 1px solid #18a096;
}
input.search-auto.form-control::placeholder {
  color: #fff !important;
}
.top-header .hotline a.langue {
  padding: 5px 10px;
}
.evo-hotline.header-langue.hidden-md {
  padding: 0 10px;
}
.site-footer .footer-inner {
  border-bottom: none;
  padding-bottom: 0px;
  padding: 20px 0;
}
footer .site-footer h4 {
  position: relative;
  color: #ffffff;
  margin: 0;
  padding: 13px 0 20px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
footer .list-menu {
  margin-bottom: 15px;
  line-height: 1.71429em;
  font-size: 14px;
}
footer .list-menu.infomation li {
  margin-bottom: 10px;
}

footer .list-menu li {
  color: #fff;
  list-style: none;
  margin-bottom: 5px;
}
footer .list-menu.infomation li > div {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 13px;
}
footer .list-menu li .company i.fa {
  color: #e4b95b;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  width: 20px;
}
footer .list-menu a {
  color: #fff;
}

footer .list-menu li {
  color: #fff;
  list-style: none;
  margin-bottom: 5px;
}

footer .footer-widget p {
  color: #fff;
  max-width: 450px;
  font-size: 14px;
}
footer .list-menu.social-media-footer li {
  margin-right: 0px;
}

footer .list-menu.social-media-footer li {
  display: inline-block;
  margin-right: 10px;
}
footer .list-menu.social-media-footer a {
  width: 30px;
  height: 30px;
  border: none;
}
footer .list-menu.social-media-footer a i {
  color: #ffffff;
}

footer .list-menu.social-media-footer a i {
  line-height: 38px;
}
footer .list-menu.social-media-footer a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fff;
  text-align: center;
  font-size: 18px;
  line-height: 36px;
}
.footer {
  background: #ff5b02;
}
.breadcrumb_background {
  background-image: url(../images/image_49309.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 220px;
  width: 100%;
  float: left;
  flex-flow: column;
  position: relative;
}
.overlay {
  background: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.title_full {
  width: 100%;
  float: left;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
}
.title_full .title_page {
  font-weight: 700;
  font-size: 34px;
  line-height: 48px;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}
.bread-crumb {
  background: #f5f5f5;
  padding: 10px 0;
  margin-bottom: 30px;
  width: 100%;
  float: left;
}
.breadcrumb {
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-size: 14px;
  padding: 0px;
  border-radius: 0;
  font-weight: 400;
  line-height: 24px;
  background-color: transparent;
  width: 100%;
  text-align: left;
}
.breadcrumb li {
  display: inline;
}
.breadcrumb li > a {
  color: #363636;
}
.breadcrumb li > a > span {
  color: #363636;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: inherit;
}
.breadcrumb li span {
  display: inline;
  color: #363636;
}
.breadcrumb li .mr_lr {
  padding: 0px 3px;
  color: #363636;
}
.breadcrumb li span .fa {
  color: #363636;
  padding: 0px 5px;
}
.breadcrumb li a:hover,
.breadcrumb li.active,
.breadcrumb li strong {
  color: #00cda0;
  text-decoration: none;
  font-weight: 400;
}
.breadcrumb li a:hover span,
.breadcrumb li.active span,
.breadcrumb li strong span {
  color: #00cda0;
}
.aside_support {
  margin-top: 15px;
}
.title_module {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  position: absolute;
  z-index: 9;
  margin-top: -20px;
  margin-left: -8px;
}
.title_module:before {
  content: " ";
  position: absolute;
  bottom: -12px;
  left: 0px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 12px 0;
  border-color: transparent #ff5b02 transparent transparent;
}
.title_module h2 {
  font-family: "Arial", sans-serif;
  margin: 0px;
  line-height: 30px;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 20px;
  background-color: #ff5b02;
}
.title_module h2 a,
.title_module h2 span,
.title_module h2 .fa {
  color: #fff;
  text-decoration: none;
}
.title_module:after {
  content: " ";
  position: absolute;
  left: 100%;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 20px;
  border-color: transparent transparent transparent #ff5b02;
}
.aside_support .support_content .list_support ul li a .ico .fa.fa-skype {
  color: #42afed;
}
.aside_support.support_online .support_content,
.aside_support.service .support_content {
  border-bottom: 0px;
}
.aside_support .support_content {
  border: solid 1px #ebebeb;
  padding: 30px 0px 0px;
  min-height: 100px;
}
.aside_support .support_content .list_support {
  padding: 10px 0px 40px;
  overflow: hidden;
}
.aside_support .support_content .list_support ul li {
  width: 100%;
  padding: 5px 15px;
  float: left;
}
.aside_support .support_content .list_support ul li a {
  display: block;
  text-decoration: none;
  line-height: 38px;
  width: 100%;
}
.aside_support .support_content .list_support ul li a .ico {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  float: left;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  letter-spacing: -1px;
  color: #fff;
  border: none;
  border-radius: 50%;
  background: #e8e8e8;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(221, 221, 221, 0.6);
  -webkit-animation: pulse 1s infinite;
}
.aside_support .support_content .list_support ul li a .ico .fa.fa-phone {
  color: #e66f0e;
}

.aside_support .support_content .list_support ul li a .ico .fa {
  font-family: "FontAwesome";
  font-size: 16px;
  line-height: 38px;
  text-align: center;
  position: absolute;
  left: 30%;
  top: -4px;
  display: block;
}
.aside_support .support_content .list_support ul li .title_ {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  color: #20344b;
  display: block;
  float: left;
  width: calc(100% - 50px);
  margin-left: 10px;
  line-height: 30px;
}
.categories-box li.nav-item {
  position: relative;
  clear: left;
  font-size: 1.07143em;
  width: 100%;
}
.categories-box li.nav-item a {
  position: relative;
  font-size: 14px;
  display: block;
  border-bottom: 1px dashed #cdcdcd;
  line-height: 18px;
  padding: 10px 12px;
  color: #000;
  background: none;
}
.categories-box li.nav-item .fa {
  position: absolute;
  right: 0;
  top: 8px;
  padding: 6px;
  cursor: pointer;
}
.aside_catalog,
.aside_support {
  width: 100%;
  float: left;
  margin: 0 0 45px 0;
  background: #f7f7f7;
}
.categories-box {
  margin: 21px 0 0 0;
  width: 100%;
  float: left;
}
.categories-box .nav-item .dropdown-menu {
  position: static;
  width: 100%;
  border: 0;
  padding-left: 15px;
  box-shadow: none;
}
.categories-box .nav-item.active > .dropdown-menu {
  display: block;
}
.categories-box > ul > li.nav-item:hover > a,
.categories-box > ul > li.nav-item.active > a {
  background: #ff5b02;
  color: #fff;
}
ul.pagination {
  float: right;
}
section.page-detail {
  margin: 0 0 30px 0;
}
.details-product .product-top .title-head {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  margin: 0px 0px 15px;
  line-height: normal;
}
.details-product .details-pro .price-box {
  margin: 5px 0 15px 0;
}
.details-product .details-pro .price-box .special-price {
  display: inline-block;
  float: left;
  color: #000000;
}
.details-product .form-product .form-group button {
  background: #ff5722;
  font-size: 16px;
  outline: none;
  box-shadow: none;
  padding: 10px;
  color: #fff;
  height: auto;
  line-height: inherit;
  width: 100%;
  border-radius: 2px;
  height: 50px;
  border: 2px solid #ff5722;
  margin: 20px 0 0 0;
}
.details-product .form-product .form-group button span.txt-main {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  text-transform: uppercase;
}

.details-product .form-product .form-group button span {
  display: block;
  width: 100%;
  text-align: center;
}
.details-product table, thead, th,
td {
  text-align: left;
  padding: 15px;
  border: 1px solid #e1e1e1;
  color: #1c1c1c;
}
.details-product .details-pro {
  background: #fafafa;
  padding: 10px;
}
.details-product span.price.product-price {
  color: #ff5722;
  font-size: 21px;
}
.down-document {
  margin: 23px 0 0 0;
  font-size: 18px;
}
.down-document a {
  color: red;
  text-decoration: underline;
}
.img-product {
  border: 1px solid #e2e2e2;
}
ul.tabs-product {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.tabs-product li.current {
  background: #ff5b02;
  color: #fff;
}

ul.tabs-product li {
  background: none;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  background: #f7f7f7;
}
.info-product .info-product-tab-content.current {
  display: inherit;
}

.info-product .info-product-tab-content {
  display: none;
  padding: 15px;
  line-height: 25px;
  border: 1px solid #eae9e9;
}
.details-product {
  margin: 0 0 50px 0;
}
p.blog-item-summary.margin-bottom-5 {
  word-break: break-all;
}
.blog-item-info h3.blog-item-name {
  max-height: 42px;
  overflow: hidden;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 15px;
  -webkit-line-clamp: 2;
  font-size: 15px;
  font-weight: 700;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: #145a8d;
  line-height: 21px;
  margin: 0;
}
.blog-item-info {
  padding: 10px 10px 10px;
  border: 1px solid #ddd;
  border-top: none;
  text-align: left;
}
.blog-item .date {
  top: 0px;
  width: 50px;
  position: absolute;
  background: #145a8d;
  text-align: center;
  color: #fff;
  padding: 3px 10px;
  z-index: 10;
}
.blog-item .date p {
  margin: 0px;
  font-size: 15px;
  line-height: 30px;
  border-bottom: 1px solid #fff;
  width: 100%;
  display: inline-block;
  font-weight: 700;
}
.blog-item-thumbnail {
  width: 100%;
}
.blog-item-thumbnail img {
  width: 265px;
  height: 270px;
  object-fit: cover;
}
article.blog-item {
  width: calc(33.33% - 20px);
  justify-content: center;
  display: inline-block;
  position: relative;
  float: left;
  margin: 0 10px 20px;
}
.titel-detail h1 {
  font-size: 21px;
  color: #ff5b02;
  font-weight: 600;
  line-height: 30px;
}
.input-group-prepend {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  padding: 7px 14px;
  border-radius: 3px;
}
.form-contact .form-control {
  padding: 0.375rem 2rem;
  border-top: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
  border-left: 3px solid #00ade9;
}
.input-group > .custom-select:not(:first-child),
.input-group > .form-control:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.text-right .btn .submit {
  width: 159px;
  float: right;
  border: none;
  box-shadow: none;
  cursor: pointer;
  color: #fff;
  background: #2ad38b;
  background: linear-gradient(to right, #0072bc, #3093d4);
  border-radius: 45px;
  display: inline-block;
  padding: 10px 16px;
  outline: none;
  -webkit-user-select: none;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  white-space: nowrap;
  font-size: 16px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.form-contact .form-control {
  padding: 0 0 0 30px;
  border-top: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
  border-left: 3px solid #00ade9;
}
#menu ul .menu-sp:hover .mega-content {
  display: block;
}
.mega-content {
  display: none;
  background: #fff url(../images/banner_menu_1.png);
  position: absolute;
  top: 43px;
  left: -456px;
  width: 1200px;
  z-index: 999;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  min-height: 400px;
  padding: 15px;
  border: 1px solid #dcdbdb;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
}
.mega-content ul.level0 {
  background: none !important;
  width: 100% !important;
  padding: 0px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.mega-content ul li h2 a {
  color: #ff5b02 !important;
  font-size: 15px;
  font-weight: bold;
}
li.level1.parent.item {
  float: left;
  width: 25%;
  padding: 0 5px;
}
ul.level1 {
  background: none !important;
}
ul.level1 li a {
  color: #000 !important;
  padding: 0 !important;
  font-size: 13px !important;
  line-height: 30px !important;
  color: #888888 !important;
}
ul.level0 {
  top: 5px !important;
}
#menu ul li.menu-sp ul {
  position: relative !important;
  width: 100%;
  float: left;
}
#menu ul li.menu-sp ul li ul {
  top: 0;
}
#menu ul li.menu-sp ul li ul li a {
  background: none;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-dialog {
  max-width: 750px;
}
.form-contact .form-group.col-lg-6.col-sm-6 {
  float: left;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.modal-dialog textarea {
  min-height: 126px;
}
.form-group.col-lg-12.col-sm-12 {
  width: 100%;
  float: left;
}

.hotline-header {
  margin-top: 25px;
}
.hotline-header .icon-phone {
  font-size: 40px;
  color: #ff5b02;
  margin-right: 10px;
}
.hotline-header p {
  margin-bottom: 0;
}
.hotline-header .phone a {
  color: #ff5b02;
}

.section-abouts .content {
  line-height: 24px;
  text-align: justify;
}

.list-room {
  border: 1px solid #ebebeb;
  border-radius: 10px;
  overflow: hidden;
}

.list-room .box-image {
  max-height: 230px;
  overflow: hidden;
  margin-bottom: 15px;
}

.list-room .box-info {
  padding: 10px;
}

.text-phone-right {
  position: absolute;
  bottom: 5px;
  right: 0;
  font-size: 16px;
}

.text-phone-right .icon-hot {
  width: 40px;
}

.list-room .box-info h2 {
  margin-top: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.list-room .box-info h2 a:hover {
  color: #ff5b02;
}

.list-room .box-info .despro {
  margin-bottom: 10px;
}

.list-room .box-info .tag_mix_room span:nth-child(1) {
  display: inline-block;
  width: 20px;
  text-align: center;
  margin-right: 5px;
  color: #ff5b02;
}

.list-room .box-info .wrap_price_item {
  text-align: right;
}

.list-room .box-info .wrap_price_item .views_details {
  color: #ff5b02;
}

.list-room .box-info .wrap_price_item i {
  margin-left: 5px;
}

.youtube {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.youtube iframe,
.youtube object,
.youtube embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section-video-feeback .youtube{
	border-radius: 10px;
	overflow: hidden;
}

.section-video-feeback .title-text {
	margin-bottom: 20px;
}

.section-video-feeback .title-text .view-more {
	position: absolute;
	right: 0;
	bottom: 5px;
	font-size: 12px;
	font-weight: 600;
	color: #ff5b02;
}

.section-video-feeback .title-text h2 {
	font-size: 25px;
}

#feedback .feedback-item {
	text-align: center;
	overflow: hidden;
	background: #ffffff;
	border-radius: 10px;
	min-height: 342px;
}

#feedback .feedback-item .feed-avatar{
	display: inline-block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	border: 5px solid #ece8e8;
	margin: 20px 0 15px 0;
}
#feedback .feedback-item .feed-desc {
	padding: 0 25px;
	line-height: 23px;
}

#feedback .feedback-item .line {
	display: inline-block;
	width: 90px;
	height: 3px;
	background: #ff5b02;
	margin: 12px 0;
}

#feedback .feedback-item .feed-name {
	text-transform: capitalize;
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 10px;
}

#feedback .feedback-item .feed-pos{
	font-style: italic;
	font-size: 13px;
	margin-bottom: 15px;
}

#feedback .owl-nav, #feedback .owl-dots {
	display: none;
}

.cam-ket {
  min-height: 342px;
  background: #ffffff;
  border-radius: 10px;
  padding: 15px;
  overflow: hidden;
}

.cam-ket h3 {
  font-size: 18px;
  margin-top: 0;
}

.cam-ket h3 i {
  margin-right: 10px;
}

.gift-table table {
  width: 100%;
  table-layout: fixed;
}

.gift-table table tbody tr td:nth-child(1) {
  width: 30%;
  vertical-align: top;
}

.gift-table table tbody tr td:nth-child(4) {
  vertical-align: top;
}

.gift-table table tbody tr td .icon-gift {
  display: inline-block;
  width: 20px;
  text-align: center;
  margin-right: 5px;
  color: #f35925;
  font-weight: 600;
}

.awe-section-6 {
  margin-bottom: 50px;
}

.form-tuvan {
  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 30px;
}

.form-tuvan .input-field {
  width: calc(100% / 2 - 13px);
  display: inline-block;
}

.form-tuvan .input-field.field-1,
.form-tuvan .input-field.field-3 {
  margin-right: 20px;
}

.form-tuvan .input-field input {
  height: 45px;
  box-shadow: none;
}
.form-tuvan .input-field label {
  margin-bottom: 10px;
}

.form-tuvan button {
  padding: 10px 35px;
  font-weight: 600;
  text-transform: uppercase;
  background: #f35925;
  color: #ffffff;
  font-size: 16px;
  margin-top: 12px;
}
.form-tuvan button:hover {
  color: #ffffff;

}

.form-tuvan button i {
  margin-right: 7px;
}

.wrap-partner {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  overflow: hidden;
}