@model IList<NTSPRODUCT.Models.Menu>
@{
    var menu = (NTSPRODUCT.Models.Menu)ViewBag.menu;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="vnt-news">
    <div class="wrapper">
        <div class="mod-content row">
            <div id="vnt-main" class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="newsTitle">
                    <h1>@menu.name</h1>
                </div>
                <div class="newsDate"><span>@menu.updateDate.Value.ToString("dd/MM/yyyy HH:mm")</span></div>
                <div class="the-content desc">
                    <div align="justify">
                        @Html.Raw(menu.note)
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


