@model IList<NTSPRODUCT.Models.Category>
@{var cateParent = Model.Where(u => u.catepar_id.Equals(ClassExten.cateParent)).ToList();}
<select name="cateId" id="cateId" class="form-control">
    <option value="-1">Nhóm cha</option>
    @foreach (var item in cateParent)
    {
        <option value="@item.id">@item.cateName</option>
        @Html.Raw(ClassExten.GetChildLevel2(item.id,string.Empty, Model.Where(u => !u.catepar_id.Equals(ClassExten.cateParent)).ToList()))
    }
</select>
