
<div id="modamSayWe" class="modal fade" role="dialog" onscroll="scroll" data-backdrop="static" style="background-color: rgba(0,0,0,0.3)">
    <div class="modal-dialog w800">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color: #5db2ff; color: white">
                <button type="button" id="close_producet" class="close" data-dismiss="modal">&times;</button>
                <h4 class="titleSayWe"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <span class="input-icon icon-right">
                                <label>Họ tên</label><span class="text-red">(*)</span>
                                <input type="hidden" value="" id="idUpdate" />
                                <input type="text" maxlength="150" class="form-control" name="fullName" id="fullName" placeholder="Tên khách hàng.." required>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <span class="input-icon icon-right">
                                <label>Email</label>
                                <input type="email" maxlength="50" class="form-control" name="email" id="email" placeholder="Email.." required>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <span class="input-icon icon-right">
                                <label>Số điện thoại</label>
                                <input type="text" maxlength="50" class="form-control" name="phone" id="phone" placeholder="Số điện thoại.." required>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <span class="input-icon icon-right">
                                <label>Nghề nghiệp</label>
                                <input type="text" maxlength="150" class="form-control" name="job" id="job" placeholder="Nghề nghiệp.." required>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <span class="input-icon icon-right">
                                <label>Địa chỉ</label>
                                <input type="text" maxlength="150" class="form-control" name="addresss" id="addresss" placeholder="Địa chỉ.." required>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Ảnh khách hàng</label>
                            <input type="text" maxlength="250" class="form-control csinput" name="avata" id="avata" placeholder="Chọn ảnh" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Thứ tự</label><span class="text-red">(*)</span>
                            <input type="number" class="form-control csinput" name="numberOder" id="numberOder" value="1" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="display-block">Trạng thái</label>
                            <label class="switch">
                                <input type="checkbox" name="active" checked id="active">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Nội dung</label>
                            <textarea type="text"  class="form-control csinput" name="contents" id="contents" rows="5" placeholder="Nhập nội dung.." />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="modal-footer" style="margin-top: -20px;">
                    <button type="submit" class="btn btn-primary" onclick="CreateOrUpdate()"><i class="glyphicon glyphicon-floppy-save"></i> Lưu lại</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-minus-sign"></i> Thoát</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#avata").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#avata").val(fileUrl);
            };
            finder.popup();
        });
    });
</script>
