@{
    ViewBag.Title = "Administrator - Gửi email";
    ViewBag.controller = "Gửi email";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Content/chosen.css" rel="stylesheet" />
<script src="~/Scripts/chosen.jquery.js"></script>
<script src="~/Scripts/chosen.proto.js"></script>
<a class="fa fa-mail-reply-all" href="javascript:void(0);" onclick="window.history.go(-1);">Trở lại</a>
@using (Html.BeginForm())
{
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">

                <div class="box-body">
                    <div class="form-group">
                        <label>Chọn phương thức gửi mail</label>
                        <select class="form-control csinput" id="types" name="types">
                            <option value="0">Nhập địa chỉ email</option>
                            @if (Session["subadmins"]!=null)
                            {
                            <option value="1">Gửi cho thành viên quản trị</option>
                                
                            }
                            <option value="2">Gửi cho email đăng kí nhận KM</option>
                            <option value="3">Gửi cho khách hàng </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Tiêu đề</label>
                        <input type="text" class="form-control csinput" name="title" id="title" placeholder="Tiêu đề" required="required" />
                    </div>
                    <div class="form-group" id="formemail">
                        <label>Email nhận</label>
                        <input type="text" class="form-control csinput" name="email" id="email" placeholder="Email" required="required" />
                    </div>
                    <div class="form-group" id="formtv" style="display:none">
                        <label>Chọn thành viên</label>
                      @*  <select multiple="multiple" data-placeholder="Chọn thành viên" id="idtv" required="required">
                            <option value="0">--- Chọn nhân viên ---</option>
                            <option value="1">--- Chọn nhân viên1 ---</option>
                            <option value="2">--- Chọn nhân viên2 ---</option>
                            <option value="3">--- Chọn nhân viên3 ---</option>
                        </select>*@
                          @Html.DropDownList("idtv", null, new { multiple = "multiple", placeholder = "Chọn" })

                    </div>


                     <div class="form-group" id="formdk" style="display:none">
                        <label>Chọn email đăng kí</label>
                 
                          @Html.DropDownList("idemaildk", null, new { multiple = "multiple", placeholder = "Chọn" })
                    </div>
                      <div class="form-group" id="forkh" style="display:none">
                        <label>Chọn khách hàng</label>
                     
                          @Html.DropDownList("idkh", null, new { multiple = "multiple", placeholder = "Chọn" })
                    </div>
                    <div class="form-group">
                        <label>Nội dung</label>
                        @Html.TextArea("contents")
                    </div>
                   
                    <div class="box-footer">
                        <button type="button" onclick="themdulieu()" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-save"></i>Gửi đi</button>
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <!--/.col (left) -->
        </div>
    </div>
}


<script type="text/javascript">
    var editor;
    function createEditor(languageCode, id) {
        var editor = CKEDITOR.replace(id, {
            language: languageCode
        });
    }

    $(function () {

        createEditor('vi', 'contents');

    });
</script>

<style>
    .csinput {
        width: 60%;
    }
</style>

<script>
    $('#idemaildk').chosen({
        display_selected_options: false,
        no_results_text: 'Không tìm thấy dữ liệu...'
    });
    $('#idtv').chosen({
        display_selected_options: false,
        no_results_text: 'Không tìm thấy dữ liệu...'
    });
    $('#idkh').chosen({
        display_selected_options: false,
        no_results_text: 'Không tìm thấy dữ liệu...'
    });
</script>
<script>
    $('#types').change(function () {
        debugger;
        var type = $('#types').val();
        if (type=="0") {
            $("#formdk").css("display", "none");
            $("#formtv").css("display", "none");
            $("#formemail").css("display", "block");
            $("#forkh").css("display", "none");
        } else if (type == "1") {
            $("#formdk").css("display", "none");
            $("#formtv").css("display", "block");
            $("#formemail").css("display", "none");
            $("#forkh").css("display", "none");
        } else if (type=="2") {
            
            $("#formdk").css("display", "block");
            $("#formtv").css("display", "none");
            $("#formemail").css("display", "none");
            $("#forkh").css("display", "none");
        } else if (type=="3") {
            $("#formdk").css("display", "none");
            $("#formtv").css("display", "none");
            $("#formemail").css("display", "none");
            $("#forkh").css("display", "block");
        }
    });

    function themdulieu()
    {
        var email = $('#email').val();
        var title = $('#title').val();
        debugger;
        //var contents = $('#contents').val();
        var contents = CKEDITOR.instances.contents.getData();
        var idemaildk = $('#idemaildk').val();
        var idtv = $('#idtv').val();
        var idkh = $('#idkh').val();
        var type = $('#types').val();
        var dulieu = "";
        if (type == "0") {
            if (title == null || title == "") {
                alert("Nhập tiêu đề");
                return false;
            } if (email==null || email=="") {
                alert("Nhập email nhận");
                return false;
            } if (contents==null || contents=="") {
                alert("Nhập nội dung");
                return false;
            }
            dulieu = email;
        } else if (type=="1") {
            if (title == null || title == "") {
                alert("Nhập tiêu đề");
                return false;
            } if (idtv == null || idtv == "") {
                alert("Chọn thành viên");
                return false;
            }
            if (contents == null || contents == "") {
                alert("Nhập nội dung");
                return false;
            }
            dulieu = idtv;
        }

        else if (type == "2") {
            if (title == null || title == "") {
                alert("Nhập tiêu đề");
                return false;
            } if (idemaildk == null || idemaildk == "") {
                alert("Chọn email đăng kí");
                return false;
            }
            if (contents == null || contents == "") {
                alert("Nhập nội dung");
                return false;
            }
            dulieu = idemaildk;
        }
        else if (type == "3") {
            if (title == null || title == "") {
                alert("Nhập tiêu đề");
                return false;
            } if (idkh == null || idkh == "") {
                alert("Chọn khách hàng");
                return false;
            }
            if (contents == null || contents == "") {
                alert("Nhập nội dung");
                return false;
            }
            dulieu = idkh;
        }
        var url = "/Config/Sendmails";
        $.ajax({
            url: url,
            data: { type: type, email: dulieu.toString(),title:title,nd:contents},
            cache: false,
            type: "POST",
            success: function (data) {
                if (data == true) {
                    alert('Gửi mail thành công!');
                    window.location.reload();
                } else {
                    alert('Đã xảy ra lỗi trong quá trình gửi mail!');
                }
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }
</script>

