@model IList<NTSPRODUCT.Models.Menu>
@{var cateParent = Model.Where(u => u.par_id.Equals(ClassExten.cateParent)).ToList();}
<select name="catep" id="catep" class="form-control csinput">
    <option value="-1">Nhóm cha</option>
    @foreach (var item in cateParent)
    {
<option value="@item.id">@item.name (@(item.mPosition == 1 ? "Menu trên" : "Menu dưới"))</option>
        @Html.Raw(ClassExten.GetMenuLevel2(item.id, string.Empty, Model.Where(u => !u.par_id.Equals(ClassExten.cateParent)).ToList()))

    }
</select>