/* Color */
.color-white {
  color: #ffffff;
}

.color-orange {
  color: #ff5b02;
}

.color-black {
  color: rgb(54, 54, 54);
}

.color-blue{
  color: #15759a;
}

/* Flex */
.flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}

.fw-bold {
  font-weight: bold;
}

a {
  color: #333333;
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

.bg-gray {
  background: #f5f5f5;
}

.pd-tb-50 {
  padding: 50px 0;
}

.text-uppercase {
  text-transform: uppercase;
}

.mg-0 {
  margin: 0;
}

.mb-20 {
  margin-bottom: 20px;
}

button:focus, .btn:focus {
  outline: none;
  border: none
}