@model IList<NTSPRODUCT.Models.Menu>
@{
    var menu = (NTSPRODUCT.Models.Menu)ViewBag.menu;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-page">
    <div class="product pt-4">
        <div class="container">
            <div class="row">
                @Html.Action("PageNewLeft", "ChildView", new { lang = ViewBag.lang })
                <div class="col-lg-9 col-md-9 col-xs-12">
                    <div class="page-detail">
                        <h1 class="font-taviraj">@menu.name</h1>
                        <div class="page-text">
                            @Html.Raw(menu.note)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

