@{
    ViewBag.Title = "Administrator - Danh sách danh mục Moduler ";
    ViewBag.controller = "Quản lý danh mục Moduler ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="box ">
    <div class="box-header with-border">
        <h3 class="box-title">Thông tin tìm kiếm</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-3">
                <input type="text" id="nameSearch" class="form-control" placeholder="Nhập tên.." />
            </div>
            <div class="col-md-9 text-right">
                <button type="button" class="btn  btn-success margin-r-5" onclick="SearchCatepro()"><i class="fa fa-fw fa-search"></i> Tìm kiếm</button>
                <button class="btn btn-default" type="button" onclick="RefreshCatepro()"><i class="fa fa-fw fa-refresh"></i> Làm mới</button>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">Danh sách danh mục Moduler</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>
                                Tổng số <b class="badge badge-primary" id="count_data">0</b> bản ghi
                            </h4>
                        </div><div class="col-sm-6 text-right">
                            <button class="btn btn-info" type="button" onclick="window.location = '/Categorys/AddCatepro'"><i class="fa fa-fw fa-plus"></i>Thêm mới</button>
                        </div>
                    </div>
                    <div class="row" id="row_data">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (Session["ok"] != null)
{
    <script type="text/javascript">
        toastr.success('@Session["ok"].ToString()');
    </script>
}
@if (Session["ok"] != null) { Session["ok"] = null; }
<script src="~/Content/AdminJSController/Cate/CateproListController.js"></script>