@{
    ViewBag.Title = "Trang chu Admin";
    ViewBag.controller = "Danh sach";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style type="text/css">
    li {
        text-align: left;
    }

    table th {
        text-align: center;
        background: #3c8dbc;
        color: white;
    }
</style>
<div class="row">
    <div class="box">
 <div class="box-body table-responsive">


            <table id="example1" class="table table-bordered table-striped" style="text-align: center;">
                <thead>
                    <tr>
                        <th>CMND</th>
                        <th>Họ tên</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Địa chỉ</th>


                    </tr>

                </thead>
                <tbody>

                    <tr>

                        <td>dd</td>
                        <td>ddđ</td>
                        <td>ggggg</td>
                        <td>hhhh</td>
                        <td>jjjhhh</td>

                    </tr>
                    <tr>

                        <td>dd</td>
                        <td>ddđ</td>
                        <td>ggggg</td>
                        <td>hhhh</td>
                        <td>jjjhhh</td>

                    </tr>
                    <tr>

                        <td>dd</td>
                        <td>ddđ</td>
                        <td>ggggg</td>
                        <td>hhhh</td>
                        <td>jjjhhh</td>

                    </tr>

                </tbody>

            </table>

        </div>
    </div>
</div>
