.pro-title {
    position: relative;
}
.y-kien-contet .yk-item .yk-img img {
    border-radius: 100%;
    width: 110px;
    height: 110px;
    object-fit: cover;
}
.y-kien-contet .yk-item .k-cont p.cont {
    font-size: 14px;
}
.y-kien-contet .yk-item .k-cont .cont-name {
    color: #12a169;
    font-weight: 600;
    font-size: 15px;
}
.y-kien-contet .yk-item {
    margin-bottom: 45px;
}
.y-ken .container {
    margin-top: 10px;
    padding-top: 25px;
}