@model IList<Productgold.Models.Category>
@Html.Raw(ViewBag.nhomcha)
    @for (int i = 0; i < Model.Count; i++)
    {
        <option value="@Model[i].id">@Model[i].name</option>
        @Html.Raw(ClassExten.GetConcon(Model[i].id.ToString()))
    }
