@{
    ViewBag.controller = "Thêm danh mục hãng";
    ViewBag.Title = "Administrator - Thêm danh mục hãng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">Thông tin chung</a></li>
                    <li><a href="#tab_3" data-toggle="tab">Cấu hình seo</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div class="">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Tên danh mục</label><span class="text-red">(*)</span>
                                            <input type="hidden" id="catetype" name="catetype" value="1" />
                                            <input type="text" class="form-control csinput" name="catename" maxlength="600" placeholder="Tên danh mục" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Nhóm cha</label>
                                            @Html.Action("GetCateForCreate", "ImportView", new { type = ClassExten.typeCareer })
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="display:none">
                                        <div class="form-group">
                                            <label> <a href="https://fontawesome.com/v4.7.0/icons/" target="_blank">Chọn icon</a></label>
                                            <input type="text" class="form-control csinput" name="cateicon" maxlength="250" placeholder="Chọn icon"  />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Ảnh đại diện</label>
                                            <input type="text" class="form-control csinput" name="cateImage" maxlength="450" id="cateAvata" placeholder="Ảnh đại diện" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Thứ tự</label>
                                            <input type="number" class="form-control csinput" name="order" value="1" required placeholder="Thứ tự" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Mô tả </label>
                                    <textarea id="cateDescription" name="cateDescription"></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <label class="display-block">Hiển thị</label>
                                            <label class="switch">
                                                <input type="checkbox" name="ckActive" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="display-block">Hiển thị trang chủ</label>
                                            <label class="switch">
                                                <input type="checkbox" name="ckHome">
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_3">
                        <div class="form-group">
                            <label>Tile seo </label>
                            <textarea type="text" class="form-control" maxlength="800" rows="2" name="titleseo" placeholder="Tile seo"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Keyword seo </label>
                            <textarea type="text" class="form-control" maxlength="800" rows="2" name="keyseo" placeholder="Keyword seo"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Description seo </label>
                            <textarea type="text" class="form-control" maxlength="800" rows="2" name="desseo" placeholder="Description seo"></textarea>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" id="btn-Submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-save"></i>Lưu lại</button>
                    <input type="hidden" id="addType" name="addType" value="0" />
                    <button type="button" onclick="addContinue()" class="btn btn-primary  margin-r-5"><i class="glyphicon glyphicon-floppy-save"></i> Lưu và tiếp tục</button>
                    <a href="/Categorys/Catepro" class="btn btn-default"><i class="fa fa-mail-reply-all"></i> Trở về</a>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    function addContinue() {
        $('#addType').val('1');
        $('#btn-Submit').click();
    }
    var editor;
    function createEditor(languageCode, id) {
        var editor = CKEDITOR.replace(id, {
            language: languageCode
        });
    }
    $(function () {
        createEditor('vi', 'cateDescription');
    });
</script>
<script type="text/javascript">
    $(function () {
        $("#cateAvata").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#cateAvata").val(fileUrl);
            };
            finder.popup();
        });
    });
</script>
@if (Session["ok"] != null)
{
    <script type="text/javascript">
        toastr.success('@Session["ok"].ToString()');
    </script>
}
@if (Session["ok"] != null) { Session["ok"] = null; }

@if (Session["erro"] != null)
{
    <script type="text/javascript">
        toastr.error('@Session["erro"].ToString()');
    </script>
}
@if (Session["erro"] != null) { Session["erro"] = null; }
