@model IList<NTSPRODUCT.Models.Oder>
@{
    ViewBag.Title = "Administrator - Danh sách đơn hàng";
    ViewBag.controller = "Quản lý đơn hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- SELECT2 EXAMPLE -->
<div class="box ">
    <div class="box-header with-border">
        <h3 class="box-title">Thông tin tìm kiếm</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-3">
                <select id="statusSearch" class="form-control">
                    <option value="">Tất cả trạng thái</option>
                    <option value="0">Chưa xử lý</option>
                    <option value="1">Đang xử lý</option>
                    <option value="2">Đã giao hàng</option>
                    <option value="3">Đã hủy</option>
                </select>
            </div>
            <div class="col-md-3">
                <input type="text" id="nameSearch" class="form-control" placeholder="Tên khách hàng.." />
            </div>
            <div class="col-md-6 text-right">
                <div class="row">
                    <button onclick="SearchOrder()" type="button" class="btn  btn-success"><i class="fa fa-fw fa-search"></i> Tìm kiếm</button>
                    <button class="btn btn-default" type="button" onclick="Lammoi()"><i class="fa fa-fw fa-refresh"></i> Làm mới</button>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
<div class="row">
    <div class="col-xs-12">
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">Danh sách đơn hàng</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>
                                Tổng số <b class="badge badge-primary" id="count_data">0</b> bản ghi
                            </h4>
                        </div>
                    </div>
                    <div class="row" id="row_data">

                    </div>

                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>
<div id="editmodam" class="modal fade" role="dialog" onscroll="scroll" data-backdrop="static" style="background-color: rgba(0,0,0,0.3)">
    <div class="modal-dialog w700">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color: #5db2ff; color: white">
                <button type="button" id="close_producet" class="close" data-dismiss="modal">&times;</button>
                <h4 class="dntitle">Cập nhật trạng thái đơn hàng</h4>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <span class="input-icon icon-right">
                                <label>Trạng thái:</label>
                                <select name="trangthai" class="form-control" id="trangthai">
                                    <option value="0">Chưa xử lý</option>
                                    <option value="1">Đang xử lý</option>
                                    <option value="2">Đã giao hàng</option>
                                    <option value="3">Đã hủy</option>
                                </select>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <span class="input-icon icon-right">
                                <label>Ghi chú:</label>
                                <input type="hidden" id="idupdate" name="idupdate" value="-1" />
                                <textarea class="form-control" rows="3" id="note" placeholder="Ghi chú"></textarea>
                            </span>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="modal-footer" style="margin-top: -20px;">
                    <button type="button" onclick="Update()" class="btn btn-success"><i class="glyphicon glyphicon-floppy-save"></i> Lưu lại</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-minus-sign"></i> Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /.row -->
@if (Session["ok"] != null)
{
    <script type="text/javascript">
        toastr.success('@Session["ok"].ToString()');
    </script>
}
@if (Session["ok"] != null) { Session["ok"] = null; }
<script src="~/Content/AdminJSController/Order/OrderListController.js"></script>
<script>
    window.onload = SearchOrder();
</script>
