@{
    ViewBag.Title = "Thêm nhóm video";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<a class="fa fa-mail-reply-all" href="javascript:void(0);" onclick="window.history.go(-1);">Trở lại</a>
@using (Html.BeginForm())
{

    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">Thông tin chung</a></li>
                    <li><a href="#tab_3" data-toggle="tab">Cấu hình seo</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div class="">
                            <div class="box-body">
                                <div class="form-group">
                                    <label>Tên nhóm</label>
                                    <input type="hidden" id="catetype" name="catetype" value="3" />
                                    <input type="text" class="form-control csinput" name="catename" placeholder="Tên nhóm" required />
                                </div>
                                <div class="form-group">
                                    <label>Nhóm cha</label>
                                    @Html.Action("GetCha", "Categorys", new { type = 3, id = -1 })
                                </div>
                                <div class="form-group">
                                    <label>Ảnh đại diện</label>
                                    <input type="text" class="form-control csinput" name="cateAvata" id="cateAvata" placeholder="Ảnh đại diện" />
                                  @*  <button class="btn btn-primary" type="button" id="addmore"><i class="glyphicon glyphicon-plus"></i>Thêm nhiều ảnh</button>*@
                                    <a  style="display:none" href="javascript:void(0)" id="addmore"><i class="glyphicon glyphicon-plus"></i>Thêm nhiều ảnh</a>
                                  </div>
                                <div style="display:none" id="idlistimg">
                                    <div class="form-group">
                                        <label>Ảnh phụ 1</label>
                                        <input type="text" class="form-control csinput" name="listimg1" id="listimg1" placeholder="Chọn ảnh" />
                                    </div>
                                    <div class="form-group">
                                        <label>Ảnh phụ 2</label>
                                        <input type="text" class="form-control csinput" name="listimg2" id="listimg2" placeholder="Chọn ảnh" />
                                    </div>
                                    <div class="form-group">
                                        <label>Ảnh phụ 3</label>
                                        <input type="text" class="form-control csinput" name="listimg3" id="listimg3" placeholder="Chọn ảnh" />
                                    </div>
                                    <div class="form-group">
                                        <label>Ảnh phụ 4</label>
                                        <input type="text" class="form-control csinput" name="listimg4" id="listimg4" placeholder="Chọn ảnh" />
                                    </div>
                                    <div class="form-group">
                                        <label>Ảnh phụ 5</label>
                                        <input type="text" class="form-control csinput" name="listimg5" id="listimg5" placeholder="Chọn ảnh" />
                                    </div>
                                    <div class="form-group">
                                        <label>Ảnh phụ 6</label>
                                        <input type="text" class="form-control csinput" name="listimg6" id="listimg6" placeholder="Chọn ảnh" />
                                    </div>
                                    <hr />
                                </div>
                                <div class="form-group">
                                    <label>Thứ tự</label>
                                    <input type="number" class="form-control csinput" name="order" value="1" required placeholder="Thứ tự" />
                                </div>
                                <div class="form-group"  style="display:none">
                                    <label>Mô tả trên ảnh</label>
                                    <input type="text" class="form-control" name="catedes" placeholder="Mô tả" />
                                </div>
                                <div class="form-group">
                                    <label>Mô tả chi tiết</label>
                                    <textarea id="catenote" name="catenote"></textarea>
                                </div>

                                <div class="form-group">
                                    <label>Kích hoạt</label>
                                    <input type="checkbox" name="ckActive" />
                                </div>
                                <div class="form-group"  style="display:none">
                                    <label>Hiển thị trang chủ</label>
                                    <input type="checkbox" name="ckHome" />
                                </div>
                            </div>

                         
                        </div>

                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_3">
                        <div class="form-group">
                            <label>Tile seo </label>
                            <input type="text" class="form-control" name="titleseo" placeholder="Tile seo" />
                        </div>
                        <div class="form-group">
                            <label>Keyword seo </label>
                            <input type="text" class="form-control" name="keyseo" placeholder="Keyword seo" />
                        </div>
                        <div class="form-group">
                            <label>Description seo </label>
                            <input type="text" class="form-control" name="desseo" placeholder="Description seo" />
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-save"></i>Lưu lại</button>
                </div>
                <!-- /.box -->
            </div>
            <!--/.col (left) -->
        </div>
    </div>

}
<script type="text/javascript">
    var editor;
    function createEditor(languageCode, id) {
        var editor = CKEDITOR.replace(id, {
            language: languageCode
        });
    }

    $(function () {

        createEditor('vi', 'catenote');

    });
</script>
<script type="text/javascript">
    $('#addmore').on('click', function () {
        $('#idlistimg').toggle();
    })
    $(function () {
        $("#cateAvata").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#cateAvata").val(fileUrl);
            };
            finder.popup();
        });
    });
    $(function () {
        $("#listimg1").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#listimg1").val(fileUrl);
            };
            finder.popup();
        });
    });
    $(function () {
        $("#listimg2").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#listimg2").val(fileUrl);
            };
            finder.popup();
        });
    });
    $(function () {
        $("#listimg3").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#listimg3").val(fileUrl);
            };
            finder.popup();
        });
    });
    $(function () {
        $("#listimg4").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#listimg4").val(fileUrl);
            };
            finder.popup();
        });
    });
    $(function () {
        $("#listimg5").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#listimg5").val(fileUrl);
            };
            finder.popup();
        });
    });
    $(function () {
        $("#listimg6").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#listimg6").val(fileUrl);
            };
            finder.popup();
        });
    });

</script>
<style>
    .csinput {
        width: 60%;
    }
</style>