
@{
    ViewBag.Title = "Demo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="itemproduct_sale item_product_main" style="display:none">
        <div class="thumb_settime">
            <div class="product-thumbnail thumb_settime">
                <div class="saleright">
                    -
                    10%
                </div>
                <a class="image_thumb thumb_product_index" href="" title="">
                    <img src="~/Content/CssSite/images/p-s.jpg" alt="">
                </a>
                <div class="product-action clearfix hidden-xs hidden-sm hidden-md">
                    <div class="group_action">
                        <button class="btn-buy btn-cart btn btn-circle left-to add_to_cart active ">
                            <i class="fa fa-shopping-basket"></i>
                        </button>
                        <a title="" href="" class="btn-circle btn_view btn right-to quick-view hidden-xs hidden-sm hidden-md">
                            <i class="fa fa-search-plus" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="product-info">
                <h3 class="product-name"><a href="" title="">BÌNH MEN NGỌC KHẮC NỔI HỌA TIẾT BÁT TIÊN QUÁ HẢI</a></h3>
                <div class="price-box">
                    <span class="price product-price">7.000.000₫</span>
                    <span class="compare-price">9.900.000₫</span>
                </div>
                <div class="rtes section">
                    Sản phẩm phù hợp để bày cảnh trang trí trong nhà. Đặc biệt sp còn phù hợp làm quà biếu tặng, mừng tân gia, mừng đám cưới cầu chúc gia chủ có nhiều hạnh phúc, trường thọ, viên mãn...
                </div>
                <!-- Tag countdown -->
                <div class="wrap_time deal deal-block section" style="display:none">
                    <div class="time-x">
                        <div id="clockdiv">
                            <div>
                                <span class="days"></span>
                                <div class="smalltext">Ngày</div>
                            </div>
                            <div>
                                <span class="hours"></span>
                                <div class="smalltext">Giờ</div>
                            </div>
                            <div>
                                <span class="minutes"></span>
                                <div class="smalltext">Phút</div>
                            </div>
                            <div>
                                <span class="seconds"></span>
                                <div class="smalltext">Giây</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="header_top">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="header_top_text_left">
                    <div class="text_left_inner">
                        <p><i class="fa fa-phone" aria-hidden="true"></i> Hotline: <span class="text_style">0947 203 581</span></p>
                    </div>
                    <div class="text_left_inner">
                        <p><i class="fa fa-envelope" aria-hidden="true"></i> Email: <a href="">nguyenvuhai1987@gmail.com</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<section class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="#" class="logo-wrapper" title="">
                    <img src="~/Content/CssSite/images/logo.jpg" alt="" class="img-responsive center-block">
                </a>

            </div>
            <div class="col-md-6  col-sm-9 col-xs-9">
                <div class="search-header desktop">
                    <input type="text" class="form-control" id="homeSearch1" placeholder="Tìm kiếm..">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" id="btnHomeSearch1" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3">
                <div class="cart_main">
                    <div class="cart_icon">
                        <a href="/gio-hang"><img src="~/Content/CssSite/images/icon_cart.png" alt="#"></a>
                    </div>
                    <span class="icon_badge">0</span>
                </div>
                <!--<div class="evo-hotline header-langue hidden-md">
                   <a href="" class="langue active"><img src="~/Content/CssSite/images/flag_vi.gif"></a>
                   <a href="" class="langue"><img src="~/Content/CssSite/images/flag_en.gif"></a>
                </div>-->
            </div>
        </div>
    </div>
</section>

<div class="clearfix"></div>
<section id="navBar" class="clearfix">
    <div class="container">
        <div class="row">
            <a id="toggle" href="#"><i class="fa fa-bars"></i></a>
            <div id="overlay"></div>
            <nav id="menu">
                <ul>
                    <li class='active'><a href='#'>Trang Chủ</a></li>
                    <li><a href='#'>Giới thiệu</a></li>
                    <li>
                        <a href='#'>Sản phẩm</a>
                        <ul>
                            <li><a href='#'>Sản phẩm trang trí</a></li>
                            <li><a href='#'>Gốm sứ phong thủy</a></li>
                            <li><a href='#'>Quà tặng hội nghị</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href='#'>Thương hiệu</a>
                        <ul>
                            <li>
                                <a href='#'>Gốm bát tràng</a>
                                <!--<ul class="ul-sub">
                                    <li><a href='#'>Gốm bát tràng 2</a></li>
                                    <li><a href='#'>Gốm chu đậu2</a></li>
                                </ul>-->

                            </li>
                            <li><a href='#'>Gốm chu đậu</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href='#'>Tin tức</a>
                        <ul>
                            <li><a href='#'>Kiến thức gốm sứ</a></li>
                            <li><a href='#'>Kiên thức đồ thờ cúng</a></li>
                        </ul>
                    </li>

                    <!--<li>
                        <a href='#'>Hướng dẫn mua hàng</a>
                        <ul>
                            <li><a href='#'>Gốm bát tràng</a></li>
                            <li><a href='#'>Gốm chu đậu</a></li>
                        </ul>
                    </li>-->
                    <li><a href='#'>Đại lý</a></li>
                    <li>
                        <a href='#'>Đối tác</a>

                    </li>
                    <li><a href='#'>Liên hệ</a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<section id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:1300px;height:370px;overflow:hidden;visibility:hidden;">
    <!-- Loading Screen -->
    <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
        <img alt="" style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="~/Content/CssSite/images/spin.svg" />
    </div>
    <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:1300px;height:370px;overflow:hidden;">
        <div>
            <img alt="" data-u="image" src="~/Content/CssSite/images/banner_mobile.jpg" />
        </div>
        <div>
            <img alt="" data-u="image" src="~/Content/CssSite/images/001.jpg" />
        </div>
    </div>
    <!-- Arrow Navigator -->
    <div data-u="arrowleft" class="jssora051" style="width:65px;height:65px;top:0px;left:25px;" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
        <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
            <polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
        </svg>
    </div>
    <div data-u="arrowright" class="jssora051" style="width:65px;height:65px;top:0px;right:25px;" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
        <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
            <polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
        </svg>
    </div>
</section>




<section class="product-home">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-lg-12">
                <div class="heading_spbc">
                    <h2 class="title-head">
                        <a href="">SẢN PHẨM KHUYẾN MẠI</a>
                    </h2>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 col-lg-12">
                <div class="row">
                    <div class="col-md-12 col-xs-12 col-lg-3">
                        <div class="col-item col-item-grid">
                            <div class="sale-label sale-top-right">
                                <span>New</span>
                            </div>
                            <div class="item-inner">
                                <div class="product-wrapper ">
                                    <div class="thumb-wrapper">
                                        <a href="" title="">
                                            <img class="img-responsive" src="~/Content/CssSite/images/c12024-300x300.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title">
                                            <h3 class="text2line">
                                                <a href="" title="">BÌNH MEN NGỌC KHẮC NỔI HỌA TIẾT BÁT TIÊN QUÁ HẢI</a>
                                            </h3>
                                        </div>
                                        <div class="item-content">
                                            <div class="price-box price-loop-style">
                                                <span class="special-price">
                                                    <span class="price">4.500.000₫</span>
                                                </span>
                                                <span class="old-price">
                                                    <span class="price">
                                                        6.000.000₫
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="view-detail">
                                <a href="">Chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12 col-lg-3">
                        <div class="col-item col-item-grid">
                            <div class="sale-label sale-top-right">
                                <span>New</span>
                            </div>
                            <div class="item-inner">
                                <div class="product-wrapper ">
                                    <div class="thumb-wrapper">
                                        <a href="" title="">
                                            <img class="img-responsive" src="~/Content/CssSite/images/c12024-300x300.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title">
                                            <h3 class="text2line">
                                                <a href="" title="">BÌNH MEN NGỌC KHẮC NỔI HỌA TIẾT BÁT TIÊN QUÁ HẢI</a>
                                            </h3>
                                        </div>
                                        <div class="item-content">
                                            <div class="price-box price-loop-style">
                                                <span class="special-price">
                                                    <span class="price">4.500.000₫</span>
                                                </span>
                                                <span class="old-price">
                                                    <span class="price">
                                                        6.000.000₫
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="view-detail">
                                <a href="">Chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12 col-lg-3">
                        <div class="col-item col-item-grid">
                            <div class="sale-label sale-top-right">
                                <span>New</span>
                            </div>
                            <div class="item-inner">
                                <div class="product-wrapper ">
                                    <div class="thumb-wrapper">
                                        <a href="" title="">
                                            <img class="img-responsive" src="~/Content/CssSite/images/c12024-300x300.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title">
                                            <h3 class="text2line">
                                                <a href="" title="">BÌNH MEN NGỌC KHẮC NỔI HỌA TIẾT BÁT TIÊN QUÁ HẢI</a>
                                            </h3>
                                        </div>
                                        <div class="item-content">
                                            <div class="price-box price-loop-style">
                                                <span class="special-price">
                                                    <span class="price">4.500.000₫</span>
                                                </span>
                                                <span class="old-price">
                                                    <span class="price">
                                                        6.000.000₫
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="view-detail">
                                <a href="">Chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12 col-lg-3">
                        <div class="col-item col-item-grid">
                            <div class="sale-label sale-top-right">
                                <span>New</span>
                            </div>
                            <div class="item-inner">
                                <div class="product-wrapper ">
                                    <div class="thumb-wrapper">
                                        <a href="" title="">
                                            <img class="img-responsive" src="~/Content/CssSite/images/c12024-300x300.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title">
                                            <h3 class="text2line">
                                                <a href="" title="">BÌNH MEN NGỌC KHẮC NỔI HỌA TIẾT BÁT TIÊN QUÁ HẢI</a>
                                            </h3>
                                        </div>
                                        <div class="item-content">
                                            <div class="price-box price-loop-style">
                                                <span class="special-price">
                                                    <span class="price">4.500.000₫</span>
                                                </span>
                                                <span class="old-price">
                                                    <span class="price">
                                                        6.000.000₫
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="view-detail">
                                <a href="">Chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="awe-section-3">
    <div class="section_dich_vu">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 evo_dich_vu_title text-center">
                    <h4 class="section_dich_vu_title">Danh mục sản phẩm</h4>
                </div>
            </div>
            <div class="row row-dich-vu">
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="evo-box-dich-vu">
                        <div class="evo-box-dich-vu-group">
                            <div class="evo-box-dich-vu-image">
                                <img src="~/Content/CssSite/images/thiet-bi-tu-dong.jpg" alt="" class="img-responsive center-block">
                            </div>
                            <div class="content-box-dich-vu hidden-sm hidden-xs">
                                Sản phẩm phù hợp để bày cảnh trang trí trong nhà. Đặc biệt sp còn phù hợp làm quà biếu tặng, mừng tân gia, mừng đám cưới cầu chúc gia chủ có nhiều hạnh phúc, trường thọ, viên mãn...
                            </div>
                        </div>
                        <h3><a href="" title="">Sản phẩm trang trí</a></h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="evo-box-dich-vu">
                        <div class="evo-box-dich-vu-group">
                            <div class="evo-box-dich-vu-image">
                                <img src="~/Content/CssSite/images/robot-cong-nghiep.jpg" alt="" class="img-responsive center-block">
                            </div>
                            <div class="content-box-dich-vu hidden-sm hidden-xs">
                                Sản phẩm phù hợp để bày cảnh trang trí trong nhà. Đặc biệt sp còn phù hợp làm quà biếu tặng, mừng tân gia, mừng đám cưới cầu chúc gia chủ có nhiều hạnh phúc, trường thọ, viên mãn...
                            </div>
                        </div>
                        <h3><a href="" title="">Gốm sứ phong thủy</a></h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="evo-box-dich-vu">
                        <div class="evo-box-dich-vu-group">
                            <div class="evo-box-dich-vu-image">
                                <img src="~/Content/CssSite/images/vo-tu-dien-cao-cap.jpg" alt="" class="img-responsive center-block">
                            </div>
                            <div class="content-box-dich-vu hidden-sm hidden-xs">
                                Sản phẩm phù hợp để bày cảnh trang trí trong nhà. Đặc biệt sp còn phù hợp làm quà biếu tặng, mừng tân gia, mừng đám cưới cầu chúc gia chủ có nhiều hạnh phúc, trường thọ, viên mãn...
                            </div>
                        </div>
                        <h3><a href="" title="l">Quà tặng hội nghị</a></h3>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="product-home">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-lg-12">
                <div class="heading_spbc">
                    <h2 class="title-head">
                        <a href="">SẢN PHẨM TRANG TRÍ</a>
                    </h2>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 col-lg-12">
                <div class="row">
                    <div class="col-md-12 col-xs-12 col-lg-3">
                        <div class="col-item col-item-grid">
                            <div class="sale-label sale-top-right">
                                <span>New</span>
                            </div>
                            <div class="item-inner">
                                <div class="product-wrapper ">
                                    <div class="thumb-wrapper">
                                        <a href="" title="">
                                            <img class="img-responsive" src="~/Content/CssSite/images/c12024-300x300.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title">
                                            <h3 class="text2line">
                                                <a href="" title="">BÌNH MEN NGỌC KHẮC NỔI HỌA TIẾT BÁT TIÊN QUÁ HẢI</a>
                                            </h3>
                                        </div>
                                        <div class="item-content">
                                            <div class="price-box price-loop-style">
                                                <span class="special-price">
                                                    <span class="price">4.500.000₫</span>
                                                </span>
                                                <span class="old-price">
                                                    <span class="price">
                                                        6.000.000₫
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="view-detail">
                                <a href="">Chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12 col-lg-3">
                        <div class="col-item col-item-grid">
                            <div class="sale-label sale-top-right">
                                <span>New</span>
                            </div>
                            <div class="item-inner">
                                <div class="product-wrapper ">
                                    <div class="thumb-wrapper">
                                        <a href="" title="">
                                            <img class="img-responsive" src="~/Content/CssSite/images/c12024-300x300.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title">
                                            <h3 class="text2line">
                                                <a href="" title="">BÌNH MEN NGỌC KHẮC NỔI HỌA TIẾT BÁT TIÊN QUÁ HẢI</a>
                                            </h3>
                                        </div>
                                        <div class="item-content">
                                            <div class="price-box price-loop-style">
                                                <span class="special-price">
                                                    <span class="price">4.500.000₫</span>
                                                </span>
                                                <span class="old-price">
                                                    <span class="price">
                                                        6.000.000₫
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="view-detail">
                                <a href="">Chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12 col-lg-3">
                        <div class="col-item col-item-grid">
                            <div class="sale-label sale-top-right">
                                <span>New</span>
                            </div>
                            <div class="item-inner">
                                <div class="product-wrapper ">
                                    <div class="thumb-wrapper">
                                        <a href="" title="">
                                            <img class="img-responsive" src="~/Content/CssSite/images/c12024-300x300.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title">
                                            <h3 class="text2line">
                                                <a href="" title="">BÌNH MEN NGỌC KHẮC NỔI HỌA TIẾT BÁT TIÊN QUÁ HẢI</a>
                                            </h3>
                                        </div>
                                        <div class="item-content">
                                            <div class="price-box price-loop-style">
                                                <span class="special-price">
                                                    <span class="price">4.500.000₫</span>
                                                </span>
                                                <span class="old-price">
                                                    <span class="price">
                                                        6.000.000₫
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="view-detail">
                                <a href="">Chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12 col-lg-3">
                        <div class="col-item col-item-grid">
                            <div class="sale-label sale-top-right">
                                <span>New</span>
                            </div>
                            <div class="item-inner">
                                <div class="product-wrapper ">
                                    <div class="thumb-wrapper">
                                        <a href="" title="">
                                            <img class="img-responsive" src="~/Content/CssSite/images/c12024-300x300.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title">
                                            <h3 class="text2line">
                                                <a href="" title="">BÌNH MEN NGỌC KHẮC NỔI HỌA TIẾT BÁT TIÊN QUÁ HẢI</a>
                                            </h3>
                                        </div>
                                        <div class="item-content">
                                            <div class="price-box price-loop-style">
                                                <span class="special-price">
                                                    <span class="price">4.500.000₫</span>
                                                </span>
                                                <span class="old-price">
                                                    <span class="price">
                                                        6.000.000₫
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="view-detail">
                                <a href="">Chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="product-home">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-lg-12">
                <div class="heading_spbc">
                    <h2 class="title-head">
                        <a href="">GỐM SỨ PHONG THỦY</a>
                    </h2>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 col-lg-12">
                <div class="row">
                    <div class="col-md-12 col-xs-12 col-lg-3">
                        <div class="col-item col-item-grid">
                            <div class="sale-label sale-top-right">
                                <span>New</span>
                            </div>
                            <div class="item-inner">
                                <div class="product-wrapper ">
                                    <div class="thumb-wrapper">
                                        <a href="" title="">
                                            <img class="img-responsive" src="~/Content/CssSite/images/c12024-300x300.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title">
                                            <h3 class="text2line">
                                                <a href="" title="">BÌNH MEN NGỌC KHẮC NỔI HỌA TIẾT BÁT TIÊN QUÁ HẢI</a>
                                            </h3>
                                        </div>
                                        <div class="item-content">
                                            <div class="price-box price-loop-style">
                                                <span class="special-price">
                                                    <span class="price">4.500.000₫</span>
                                                </span>
                                                <span class="old-price">
                                                    <span class="price">
                                                        6.000.000₫
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="view-detail">
                                <a href="">Chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12 col-lg-3">
                        <div class="col-item col-item-grid">
                            <div class="sale-label sale-top-right">
                                <span>New</span>
                            </div>
                            <div class="item-inner">
                                <div class="product-wrapper ">
                                    <div class="thumb-wrapper">
                                        <a href="" title="">
                                            <img class="img-responsive" src="~/Content/CssSite/images/c12024-300x300.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title">
                                            <h3 class="text2line">
                                                <a href="" title="">BÌNH MEN NGỌC KHẮC NỔI HỌA TIẾT BÁT TIÊN QUÁ HẢI</a>
                                            </h3>
                                        </div>
                                        <div class="item-content">
                                            <div class="price-box price-loop-style">
                                                <span class="special-price">
                                                    <span class="price">4.500.000₫</span>
                                                </span>
                                                <span class="old-price">
                                                    <span class="price">
                                                        6.000.000₫
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="view-detail">
                                <a href="">Chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12 col-lg-3">
                        <div class="col-item col-item-grid">
                            <div class="sale-label sale-top-right">
                                <span>New</span>
                            </div>
                            <div class="item-inner">
                                <div class="product-wrapper ">
                                    <div class="thumb-wrapper">
                                        <a href="" title="">
                                            <img class="img-responsive" src="~/Content/CssSite/images/c12024-300x300.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title">
                                            <h3 class="text2line">
                                                <a href="" title="">BÌNH MEN NGỌC KHẮC NỔI HỌA TIẾT BÁT TIÊN QUÁ HẢI</a>
                                            </h3>
                                        </div>
                                        <div class="item-content">
                                            <div class="price-box price-loop-style">
                                                <span class="special-price">
                                                    <span class="price">4.500.000₫</span>
                                                </span>
                                                <span class="old-price">
                                                    <span class="price">
                                                        6.000.000₫
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="view-detail">
                                <a href="">Chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12 col-lg-3">
                        <div class="col-item col-item-grid">
                            <div class="sale-label sale-top-right">
                                <span>New</span>
                            </div>
                            <div class="item-inner">
                                <div class="product-wrapper ">
                                    <div class="thumb-wrapper">
                                        <a href="" title="">
                                            <img class="img-responsive" src="~/Content/CssSite/images/c12024-300x300.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title">
                                            <h3 class="text2line">
                                                <a href="" title="">BÌNH MEN NGỌC KHẮC NỔI HỌA TIẾT BÁT TIÊN QUÁ HẢI</a>
                                            </h3>
                                        </div>
                                        <div class="item-content">
                                            <div class="price-box price-loop-style">
                                                <span class="special-price">
                                                    <span class="price">4.500.000₫</span>
                                                </span>
                                                <span class="old-price">
                                                    <span class="price">
                                                        6.000.000₫
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="view-detail">
                                <a href="">Chi tiết</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="product-home">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-lg-12">
                <div class="heading_spbc">
                    <h2 class="title-head">
                        <a href="">QUÀ TẶNG HỘI NGHỊ</a>
                    </h2>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 col-lg-12">
                <div class="row">
                    <div class="col-md-12 col-xs-12 col-lg-3">
                        <div class="col-item col-item-grid">
                            <div class="sale-label sale-top-right">
                                <span>New</span>
                            </div>
                            <div class="item-inner">
                                <div class="product-wrapper ">
                                    <div class="thumb-wrapper">
                                        <a href="" title="">
                                            <img class="img-responsive" src="~/Content/CssSite/images/c12024-300x300.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title">
                                            <h3 class="text2line">
                                                <a href="" title="">BÌNH MEN NGỌC KHẮC NỔI HỌA TIẾT BÁT TIÊN QUÁ HẢI</a>
                                            </h3>
                                        </div>
                                        <div class="item-content">
                                            <div class="price-box price-loop-style">
                                                <span class="special-price">
                                                    <span class="price">4.500.000₫</span>
                                                </span>
                                                <span class="old-price">
                                                    <span class="price">
                                                        6.000.000₫
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="view-detail">
                                <a href="">Chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12 col-lg-3">
                        <div class="col-item col-item-grid">
                            <div class="sale-label sale-top-right">
                                <span>New</span>
                            </div>
                            <div class="item-inner">
                                <div class="product-wrapper ">
                                    <div class="thumb-wrapper">
                                        <a href="" title="">
                                            <img class="img-responsive" src="~/Content/CssSite/images/c12024-300x300.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title">
                                            <h3 class="text2line">
                                                <a href="" title="">BÌNH MEN NGỌC KHẮC NỔI HỌA TIẾT BÁT TIÊN QUÁ HẢI</a>
                                            </h3>
                                        </div>
                                        <div class="item-content">
                                            <div class="price-box price-loop-style">
                                                <span class="special-price">
                                                    <span class="price">4.500.000₫</span>
                                                </span>
                                                <span class="old-price">
                                                    <span class="price">
                                                        6.000.000₫
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="view-detail">
                                <a href="">Chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12 col-lg-3">
                        <div class="col-item col-item-grid">
                            <div class="sale-label sale-top-right">
                                <span>New</span>
                            </div>
                            <div class="item-inner">
                                <div class="product-wrapper ">
                                    <div class="thumb-wrapper">
                                        <a href="" title="">
                                            <img class="img-responsive" src="~/Content/CssSite/images/c12024-300x300.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title">
                                            <h3 class="text2line">
                                                <a href="" title="">BÌNH MEN NGỌC KHẮC NỔI HỌA TIẾT BÁT TIÊN QUÁ HẢI</a>
                                            </h3>
                                        </div>
                                        <div class="item-content">
                                            <div class="price-box price-loop-style">
                                                <span class="special-price">
                                                    <span class="price">4.500.000₫</span>
                                                </span>
                                                <span class="old-price">
                                                    <span class="price">
                                                        6.000.000₫
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="view-detail">
                                <a href="">Chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12 col-lg-3">
                        <div class="col-item col-item-grid">
                            <div class="sale-label sale-top-right">
                                <span>New</span>
                            </div>
                            <div class="item-inner">
                                <div class="product-wrapper ">
                                    <div class="thumb-wrapper">
                                        <a href="" title="">
                                            <img class="img-responsive" src="~/Content/CssSite/images/c12024-300x300.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title">
                                            <h3 class="text2line">
                                                <a href="" title="">BÌNH MEN NGỌC KHẮC NỔI HỌA TIẾT BÁT TIÊN QUÁ HẢI</a>
                                            </h3>
                                        </div>
                                        <div class="item-content">
                                            <div class="price-box price-loop-style">
                                                <span class="special-price">
                                                    <span class="price">4.500.000₫</span>
                                                </span>
                                                <span class="old-price">
                                                    <span class="price">
                                                        6.000.000₫
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="view-detail">
                                <a href="">Chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="awe-section-3">
    <div class="container space-40">
        <div class="row">
            <div class="col-md-6">
                <div class="title-text space-20">
                    <h2><a href="tin-tuc" title="Tin tức">Tin tức</a></h2>
                    <a class="read-more" href="tin-tuc" title="Xem tất cả">Xem tất cả <i class="fa fa-angle-double-right"></i></a>
                </div>
                <div class="home-blog">
                    <div class="item">
                        <a class="thumb img-shine" href="" title="">
                            <img src="~/Content/CssSite/images/1550712617300138219.jpg" alt="">
                        </a>
                        <div class="text">
                            <h3><a href="">Đồng hồ điều khiển nhiệt dạng núm vặn dòng ta của autonics</a></h3>
                            <div class="date">04 <span>Tháng 09</span></div>
                            <p>Dòng đồng hồ TA có tính năng tự điều chỉnh thuật toán điều khiển PID và liên tục tính độ lệch so với giá trị SV mong muốn, sau đó điều chỉnh dựa trên giá trị tỳ lệ, vi tích phân...</p>
                        </div>
                    </div>
                    <div class="item">
                        <a class="thumb img-shine" href="" title="">
                            <img src="~/Content/CssSite/images/15470191372129096545.png" alt="">
                        </a>
                        <div class="text">
                            <h3><a href="" title="">Giới thiệu bộ đếm & định thời hanyoung lc</a></h3>
                            <div class="date">04 <span>Tháng 09</span></div>
                            <p>Dòng đồng hồ TA có tính năng tự điều chỉnh thuật toán điều khiển PID và liên tục tính độ lệch so với giá trị SV mong muốn, sau đó điều chỉnh dựa trên giá trị tỳ lệ, vi tích phân...</p>
                        </div>
                    </div>
                    <div class="item">
                        <a class="thumb img-shine" href="" title="">
                            <img src="~/Content/CssSite/images/1550712617300138219.jpg" class="img-responsive basic lazied" alt="">
                        </a>
                        <div class="text">
                            <h3><a href="" title="">Chương trình khuyến mãi tháng 3/2019</a></h3>
                            <div class="date">11 <span>Tháng 08</span></div>
                            <p>Dòng đồng hồ TA có tính năng tự điều chỉnh thuật toán điều khiển PID và liên tục tính độ lệch so với giá trị SV mong muốn, sau đó điều chỉnh dựa trên giá trị tỳ lệ, vi tích phân...</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="title-text space-20">
                    <h2>Thư viện ảnh</h2>
                </div>
                <!--End title-text-->
                <div class="home-box-lightbox">
                    <a href="" title="">
                        <img class="img-responsive basic" src="~/Content/CssSite/images/1_358832.jpg" alt="">
                    </a>
                    <a href="" title="">
                        <img class="img-responsive basic" src="~/Content/CssSite/images/industrial.jpg" alt="">
                    </a>
                    <a href="" title="">
                        <img class="img-responsive basic" src="~/Content/CssSite/images/che-tao-may.jpg" alt="">
                    </a>
                    <a href="" title="">
                        <img class="img-responsive basic" src="~/Content/CssSite/images/robot-cong-nghiep.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="home-desktop-banner-bottom">
    <div class="store-section">
        <div class="container">
            <div class="text-center text-uppercase section-title mb-3"><h4 class="col-12 text-center">Hình ảnh cửa hàng</h4></div><div class="text-center section-description">
                Cùng xem những hình ảnh mới nhất ctại hệ thống cửa hàng Gốm Sứ PhiLong
            </div>
        </div><div class="section-detail">
            <div class="col-12">
                <div class="justify-content-between row">
                    <div class="col-md-12 col-xs-12 col-lg-3">
                        <div class="col-item col-item-grid">
                            <a href="javascript:void(0);" target="_self">
                                <img class="lazyautosizes lazyloaded" data-sizes="auto" src="~/Content/CssSite/images/bt-1.jpg" alt="" sizes="370px">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12 col-lg-3">
                        <div class="col-item col-item-grid">
                            <a href="#" target="_self">
                                <img class="lazyautosizes lazyloaded" data-sizes="auto" src="~/Content/CssSite/images/bt-4.jpg" alt="" sizes="370px">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12 col-lg-3">
                        <div class="col-item col-item-grid">
                            <a href="#" target="_self">
                                <img class="lazyautosizes lazyloaded" data-sizes="auto" src="~/Content/CssSite/images/bt-1.jpg" alt="" sizes="370px">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12 col-lg-3">
                        <div class="col-item col-item-grid">
                            <a href="#" target="_self">
                                <img class="lazyautosizes lazyloaded" data-sizes="auto" src="~/Content/CssSite/images/bt-4.jpg" alt="" sizes="370px">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="awe-section-7">
    <div class="section_index_brand">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-head text-center">
                        <h2>Đối tác</h2>
                    </div>
                </div>
                <div id="owl-partner-home" class="owl-carousel owl-theme">

                    <div class="item">
                        <div class="col-inner">
                            <div class="box has-hover gallery-box box-none">
                                <div class="box-image">
                                    <img src="https://bizweb.dktcdn.net/100/339/388/themes/696686/assets/partner_5.jpg?1557285420796" data-lazyload="//bizweb.dktcdn.net/100/339/388/themes/696686/assets/partner_5.jpg?1557285420796" alt="Ant Consult" class="img-responsive center-block">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="col-inner">
                            <div class="box has-hover gallery-box box-none">
                                <div class="box-image">
                                    <img src="https://bizweb.dktcdn.net/100/339/388/themes/696686/assets/partner_6.jpg?1557285420796" data-lazyload="//bizweb.dktcdn.net/100/339/388/themes/696686/assets/partner_6.jpg?1557285420796" alt="Ant Consult" class="img-responsive center-block">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="item">
                        <div class="col-inner">
                            <div class="box has-hover gallery-box box-none">
                                <div class="box-image">
                                    <img src="https://bizweb.dktcdn.net/100/339/388/themes/696686/assets/partner_5.jpg?1557285420796" data-lazyload="//bizweb.dktcdn.net/100/339/388/themes/696686/assets/partner_5.jpg?1557285420796" alt="Ant Consult" class="img-responsive center-block">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="col-inner">
                            <div class="box has-hover gallery-box box-none">
                                <div class="box-image">
                                    <img src="https://bizweb.dktcdn.net/100/339/388/themes/696686/assets/partner_6.jpg?1557285420796" data-lazyload="//bizweb.dktcdn.net/100/339/388/themes/696686/assets/partner_6.jpg?1557285420796" alt="Ant Consult" class="img-responsive center-block">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="site-footer">
        <div class="container">
            <div class="footer-inner">
                <div class="row">
                    <div class="block block-cs col-xs-12 col-sm-5 col-md-3 col-lg-3">
                        <div class="footer-widget">
                            <h4>
                                <span>GỐM SỨ PHILONG</span>
                            </h4>
                            <ul class="list-menu infomation" style="display: block;">
                                <li class="item">
                                    <div class="company"><i class="fa fa-map-marker"></i>Công ty cổ phần gốm sứ phiLong </div>
                                    <div class="address">Địa chỉ: Tầng 6, Tòa nhà 3D, Số 3 Phố Duy Tân, Phường Dịch Vọng Hậu, Quận Cầu Giấy, TP. Hà Nội, Việt Nam</div>
                                    <div class="hotline">Hotline: <a href="tel:0356998866" title="Phone">(+84) 243.206.1888 6</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="block block-cs col-xs-12 col-sm-5 col-md-3 col-lg-3">
                        <div class="footer-widget">
                            <h4>
                                <span>Xưởng sản xuất</span>
                            </h4>
                            <ul class="list-menu infomation" style="display: block;">
                                <li class="item">
                                    <div class="address"><i class="fa fa-map-marker"></i> Showroom 1: Tòa nhà Lê Huỳnh, Số 23B Đường số 3, Phường Bình An, Quận 2 , Tp. Hồ Chí Minh, Việt Nam</div>
                                    <div class="address"><i class="fa fa-map-marker"></i> Showroom 2: Tòa nhà Lê Huỳnh, Số 23B Đường số 3, Phường Bình An, Quận 2 , Tp. Hồ Chí Minh, Việt Nam</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="block block-cs col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        <div class="footer-widget">
                            <h4>
                                <span>Chính sách</span>
                            </h4>
                            <ul class="list-menu has-toggle">
                                <li><a href="/dich-vu" title="Dịch vụ">Dịch vụ</a></li>
                                <li><a href="/collections/all" title="Sản phẩm">Sản phẩm</a></li>
                                <li><a href="/tin-tuc" title="Tin tức">Tin tức</a></li>
                                <li><a href="/lien-he" title="Liên hệ">Liên hệ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="block block-cs col-xs-12 col-sm-4 col-md-3 col-lg-3">
                        <div class="footer-widget">
                            <h4>
                                <span>Kết nối với chúng tôi</span>
                            </h4>
                            <p>Với sứ mệnh giữ gìn và tôn vinh vẻ đẹp Việt, trong suốt 14 năm qua.Chúng tôi mong muốn tạo nên Tập đoàn Thẩm mỹ uy tín nhất tại Việt Nam.</p>
                            <ul class="list-menu has-toggle social-media-footer" style="display: block;">
                                <li><a href="https://twitter.com/" title="twitter"><i class="fa fa-twitter"> </i></a></li>
                                <li><a href="https://www.facebook.com/" title="facebook"><i class="fa fa-facebook"> </i></a></li>
                                <li><a href="http://instagram.com" title="instagram"><i class="fa fa-instagram"> </i></a></li>
                                <li><a href="https://www.youtube.com/" title="youtube"><i class="fa fa-youtube"> </i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright clearfix">
        <div class="container">
            <div class="inner clearfix">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="text-center copy-right-text">
                            © Bản quyền thuộc về Gốm sứ phiLong <span class="nc hidden-xs">|</span> <span class="cungcap">Thiết kế bởi <a style="color: #c2bebe" href="https://thietkewebsitedomain.com/" title="Sapo">thietkewebsitedomain.com</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

